* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  overflow-x: hidden;
  background: #0d1126;
}

/* Start [2021-03-24] Colors */
/* End   [2021-03-24] Colors */
:root {
  --padding-section: 5em 1.5em;
  --padding-section-desktop: 5em 0em 2.5em 0em;
  /* ====== Transition ====== */
  --tran-03: all 0.2s ease;
  --tran-03: all 0.3s ease;
  --tran-04: all 0.3s ease;
  --tran-05: all 0.3s ease;
  --transition: all 0.25s cubic-bezier(0.645,0.045,0.355,1);
}

@keyframes anim-shadow-reg-primary {
  100% {
    box-shadow: 0px 0px 5px 1px #64ffda;
  }
}
@keyframes anim-shadow-reg {
  100% {
    box-shadow: 0px 0px 10px 1px #64ffda;
  }
}
@keyframes anim-shadow-reg-pink {
  100% {
    box-shadow: 0px 0px 10px 1px #e1147b;
  }
}
@keyframes glow-title {
  from {
    text-shadow: 0 0 10px #64ffda, 0 0 20px #64ffda;
  }
  to {
    text-shadow: 0 0 20px #64ffda;
  }
}
h1 {
  font-family: "Roboto", sans-serif;
}

h2,
h3,
h4 {
  font-family: "Poppins", sans-serif;
  color: #fff;
}

p {
  font-family: Helvetica, sans-serif;
  font-family: "Source Sans Pro", sans-serif;
}

a {
  font-family: "Source Sans Pro", sans-serif;
  font-weight: 600;
}

.button-container {
  display: flex;
  margin-top: 2rem;
}
.button-container a {
  border: 1px solid #64ffda;
  background-color: transparent;
  color: #64ffda;
  text-decoration: none;
  padding: 0.5em;
  border-radius: 5px;
  width: 100%;
  width: auto;
  width: 125px;
  text-align: center;
  transition: var(--tran-04);
  font-size: 1em;
}
.button-container a:hover {
  background-color: rgba(100, 255, 218, 0.1);
}

/* Start [MRF 2022-05-22] header */
#header {
  background-color: #0d1126;
  width: 100%;
  top: 0;
  position: fixed;
  z-index: 10;
  padding: 0.3em 0em;
  box-shadow: 2.5px 2.5px 10px rgba(0, 0, 0, 0.4);
}
#header .menu {
  width: 100%;
  margin: auto;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
}
#header .menu .logo {
  display: inline-block;
  margin: 10px 0 10px 10px;
  padding: 0em 0.7em;
}
#header .menu .logo .btn-menu {
  display: none;
  color: #fff;
  color: #64ffda;
  text-decoration: none;
  font-size: 0.7em;
  align-self: center;
  margin-right: 10px;
  text-shadow: 0 0 10px #64ffda, 0 0 20px #64ffda, 0 0 40px #64ffda, 0 0 80px #64ffda, 0 0 120px #64ffda;
}
#header .menu .logo .btn-menu i {
  font-size: 2rem;
}
#header .menu .logo img,
#header .menu .logo label {
  vertical-align: top;
  width: 70px;
  margin-top: 4px;
  font-family: "Roboto", sans-serif;
  color: #64ffda;
  font-size: 17px;
  color: #fff;
  text-shadow: 0 0 10px #64ffda, 0 0 20px #64ffda, 0 0 40px #64ffda, 0 0 80px #64ffda, 0 0 120px #64ffda;
}

.menu .enlaces {
  display: inline-block;
  text-align: right;
  font-family: "Francois One", sans-serif;
  letter-spacing: 0.1em;
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: center;
  height: 100vh;
  padding-bottom: 11rem;
  width: 100%;
}
.menu .enlaces a {
  color: #fff;
  text-decoration: none;
  display: inline-block;
  font-size: 1.1em;
  text-align: center;
  margin: 0.5em 0em;
  width: 100%;
  font-family: "Source Sans Pro", sans-serif;
}
.menu .enlaces i {
  font-size: 1.5rem;
}
.menu .enlaces hr {
  width: 45%;
  color: #64ffda;
  background-color: #64ffda;
  border-color: #64ffda;
  animation: anim-shadow-reg 0.3s forwards;
  -webkit-transition-property: box-shadow, transform;
  transition-property: box-shadow, transform;
  margin: 1.5em 0em 1.5em 0em;
}
.menu .enlaces .social-media-container {
  display: flex;
  width: 100%;
  justify-content: center;
  padding: 0em 3em;
}

@media all and (min-width: 1240px) {
  #header {
    padding: 0.7em 0em;
  }
  #header .menu {
    padding: 0rem 1.5rem;
    max-width: 1440px;
    flex-wrap: nowrap;
  }
  #header .menu .logo label {
    display: flex;
  }

  .menu .enlaces {
    font-family: "Francois One", sans-serif;
    letter-spacing: 0.1em;
    width: 100%;
    height: auto;
    display: inline-block;
    z-index: 100;
    padding: 0;
  }
  .menu .enlaces a {
    color: #fff;
    text-decoration: none;
    display: inline-block;
    font-size: 1.1em;
    text-align: center;
    margin: 0.3em 0.5em;
    width: auto;
    font-family: "Source Sans Pro", sans-serif;
    transition: var(--transition);
  }
  .menu .enlaces a:hover {
    color: #64ffda;
  }
  .menu .enlaces .download {
    padding: 0.5rem;
    border-radius: 4px;
    border: 1px solid #64ffda;
    transition: var(--tran-04);
    padding: 0.5em 1em;
  }
  .menu .enlaces .download:hover {
    background-color: rgba(100, 255, 218, 0.1);
  }
  .menu .enlaces i {
    font-size: 1.3rem;
  }
  .menu .enlaces hr {
    display: none;
  }
  .menu .enlaces .social-media-container {
    display: none;
  }
}
@media all and (max-width: 780px) {
  #header .menu .logo {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 100%;
    align-items: flex-start;
  }
  #header .menu .logo img {
    width: 50px;
  }
  #header .menu .logo .btn-menu {
    display: inline-block;
  }
  #header .menu .enlaces {
    display: flex;
    flex-direction: column;
    width: 100%;
  }
}
/* End [MRF 2022-05-22] header */
.presentation {
  display: flex;
  width: 100%;
  justify-content: space-between;
  flex-wrap: wrap;
  align-items: center;
  flex-direction: column;
  padding: 6.5em 0em 0em 0em;
}
.presentation .presentation__content .hi {
  color: #64ffda;
  font-size: 1.1em;
  text-align: center;
  width: 100%;
}
.presentation .presentation__content h1 {
  width: 100%;
  color: #fff;
  font-size: clamp(35px, 8vw, 80px);
}
.presentation .presentation__content .paragraph {
  width: 100%;
  color: #ccc;
  text-align: center;
}
.presentation .presentation__content .paragraph .typed {
  color: #64ffda;
}
.presentation .presentation__content .container {
  display: flex;
  width: 100%;
  justify-content: center;
  margin-top: 1.5em;
  padding: 0;
}
.presentation .presentation__content .container .button {
  border: 1px solid #64ffda;
  background-color: transparent;
  color: #64ffda;
  text-decoration: none;
  padding: 0.5em;
  margin: 0em 0.5em;
  border-radius: 5px;
  width: 100%;
  max-width: 125px;
  text-align: center;
  transition: var(--tran-04);
}
.presentation .presentation__content .container .download:hover {
  background-color: rgba(100, 255, 218, 0.1);
}
.presentation .presentation__content .container .talk {
  background-color: #64ffda;
  color: #fff;
  color: #000;
}
.presentation .container-img {
  display: flex;
  width: 100%;
  justify-content: flex-end;
  align-items: flex-end;
  align-self: flex-end;
  flex-wrap: wrap;
  margin: 1.5rem 0rem 0rem 0rem;
}
.presentation .container-img img {
  width: 350px;
  height: 375px;
  margin: 0px auto;
  padding: 0em 1em;
  object-fit: cover;
  object-position: 15px 0px;
  background-image: url("../img/blob-haikei(4).svg");
}
.presentation .end {
  margin-top: 1rem;
}
@media all and (min-width: 1024px) {
  .presentation {
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    max-width: 1024px;
    padding: 6.5em 0em 6.5em 0em;
    margin: 0px auto;
  }
  .presentation .presentation__content {
    width: 50%;
    max-width: 700px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding: 0;
  }
  .presentation .presentation__content .hi {
    color: #64ffda;
    font-size: 1.1em;
    width: 100%;
    text-align: center;
    text-align: left;
    margin-bottom: 0.5em;
  }
  .presentation .presentation__content h1 {
    width: 100%;
    color: #fff;
    font-size: clamp(35px, 8vw, 55px);
    text-align: left;
    margin-top: 0em;
    margin-left: -2px;
  }
  .presentation .presentation__content .paragraph {
    width: 100%;
    color: #ccc;
    text-align: left;
    font-size: 1.1em;
    margin-top: 0.5em;
  }
  .presentation .presentation__content .paragraph .typed {
    color: #64ffda;
  }
  .presentation .presentation__content .container {
    justify-content: flex-start;
    padding: 0;
    margin: 0;
    margin-top: 2em;
  }
  .presentation .presentation__content .container .button {
    margin: 0em;
    margin-right: 0.7em;
    width: 100%;
    max-width: 35%;
    max-width: 180px;
    padding: 0.8em;
  }
  .presentation .container-img {
    display: flex;
    width: 45%;
  }
  .presentation .container-img img {
    width: 425px;
    height: 450px;
    margin: 0px auto;
    padding: 0em 1em;
    object-fit: cover;
    object-position: 15px 0px;
    background-image: url("../img/blob-haikei-desktop2.svg");
  }
}

h2 {
  width: 100%;
  font-size: 1.625em;
  padding: 0em 0.5em;
  color: #fff;
}
h2 span {
  color: #64ffda;
  font-size: 1.325rem;
}

/* [MRF 2022-05-13] about */
section {
  width: 100%;
}

.about {
  color: #fff;
  padding: var(--padding-section);
  margin-top: 1em;
}
.about h2 {
  padding: 0;
  margin: 0;
  margin-bottom: 0.5em;
  color: #fff;
  text-shadow: 0 0 10px #64ffda, 0 0 20px #64ffda, 0 0 40px #64ffda, 0 0 80px #64ffda, 0 0 120px #64ffda;
}
.about .about__first-section .container-description {
  font-size: 0.9em;
  margin-bottom: 3em;
}
.about .about__first-section .container-description span {
  color: #64ffda;
  font-weight: 700;
}
.about .about__first-section .container-gallery {
  background-color: transparent;
  margin-top: 2em;
}
.about .about__first-section .container-gallery .gallery {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  background-color: rgba(51, 51, 51, 0.5019607843);
  background-color: transparent;
  border-radius: 7px;
  width: 100%;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-gap: 7px;
  justify-content: center;
  margin-top: 1.5em;
}
.about .about__first-section .container-gallery .gallery .item-desktop {
  display: none;
}
.about .about__first-section .container-gallery .gallery .gallery__item {
  width: 100%;
  height: 140px;
  font-display: flex;
  padding: 0.5em;
  justify-content: center;
  align-items: center;
  border-radius: 4px;
  background: #1d1e22;
  background-color: rgba(51, 51, 51, 0.5019607843);
  box-shadow: 20px 20px 50px rgba(0, 0, 0, 0.5);
  background: rgba(255, 255, 255, 0.1);
  backdrop-filter: blur(5px);
  z-index: 1;
  transition: var(--tran-04);
  margin: 0px auto;
}
.about .about__first-section .container-gallery .gallery .gallery__item i {
  font-size: 2em;
  position: relative;
  top: -2px;
  width: 100%;
  text-align: center;
}
.about .about__first-section .container-gallery .gallery .gallery__item label {
  width: 100%;
  position: relative;
  top: 0px;
  font-size: 0.9em;
  text-align: center;
}
.about .about__first-section .container-gallery .gallery .gallery__item .gallery__item-container {
  align-self: flex-start;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
  flex-direction: column;
  padding: 0;
  margin: 0;
}
.about .about__first-section .container-gallery .gallery .gallery__item .gallery__item-container i {
  width: 100%;
  font-size: 3.3rem;
}
.about .about__first-section .container-gallery .gallery .gallery__item .gallery__item-container label {
  font-family: "Source Sans Pro", sans-serif;
  font-family: "Poppins", sans-serif;
  font-size: 0.8em;
  margin-top: 0.5em;
}
.about .about__first-section .container-gallery .gallery .gallery__item .body__item {
  font-family: "Source Sans Pro", sans-serif;
}
.about .about__first-section .container-gallery .gallery .gallery__item .body__item span {
  width: 100%;
}
.about .about__first-section .container-gallery .gallery .gallery__item:hover {
  transform: translateY(-5px);
  box-shadow: 0 4px 30px rgba(0, 0, 0, 0.5);
}
.about .about__first-section .container-gallery .gallery .gallery__item:hover .c-plus {
  color: #044F88;
}
.about .about__first-section .container-gallery .gallery .gallery__item:hover .sql {
  color: #ccc;
}
.about .about__first-section .container-gallery .gallery .gallery__item:hover .html {
  color: #E34E26;
}
.about .about__first-section .container-gallery .gallery .gallery__item:hover .css {
  color: #2162AF;
}
.about .about__first-section .container-gallery .gallery .gallery__item:hover .sass {
  color: #CD6799;
}
.about .about__first-section .container-gallery .gallery .gallery__item:hover .javascript {
  color: #F7DF1E;
}
.about .about__first-section .container-gallery .gallery .gallery__item:hover .java {
  color: #EA2A30;
}
.about .about__first-section .container-gallery .gallery .gallery__item:hover .git {
  color: #bd2c00;
}
.about .about__first-section .container-gallery .gallery .gallery__item:hover .node {
  color: #3E863D;
}
.about .about__first-section .container-gallery .gallery .gallery__item:hover .react {
  color: #53C1DE;
}
.about .about__first-section .container-gallery h4 {
  font-size: 0.9em;
  margin-bottom: 2em;
}
.about .about__first-section .container-gallery h4 span {
  color: #64ffda;
}
.about .about__first-section .button-container {
  display: flex;
  justify-content: center;
  margin-top: 4rem;
}
.about .about__first-section .button-container a {
  border: none;
  background-color: transparent;
  color: #64ffda;
  text-decoration: none;
  padding: 0.5em;
  border-radius: 5px;
  width: 100%;
  width: auto;
  width: 125px;
  text-align: center;
  transition: var(--tran-04);
  font-size: 1em;
}
.about .about__first-section .button-container a:hover {
  background-color: none;
}
.about .about__first-section .button-container i {
  color: #64ffda;
  font-size: 2rem;
  text-shadow: 0 0 10px #64ffda, 0 0 20px #64ffda, 0 0 40px #64ffda, 0 0 80px #64ffda, 0 0 120px #64ffda;
}
@media all and (min-width: 1024px) {
  .about {
    max-width: 1024px;
    margin: 0px auto;
    padding: 0;
    padding: var(--padding-section-desktop);
  }
  .about h2 {
    font-size: 2em;
  }
  .about .about__first-section .container-description {
    font-size: 1.125em;
    margin-bottom: 3em;
  }
  .about .about__first-section .container-description span {
    color: #64ffda;
    font-weight: 700;
  }
  .about .about__first-section .container-description .paragraph {
    max-width: 650px;
  }
  .about .about__first-section .container-gallery .gallery {
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 10px;
  }
  .about .about__first-section .container-gallery .gallery .gallery__item {
    height: 150px;
  }
  .about .about__first-section .container-gallery .gallery .gallery__item .gallery__item-container i {
    width: 100%;
    font-size: 4.3rem;
  }
  .about .about__first-section .container-gallery .gallery .gallery__item .gallery__item-container label {
    font-size: 1em;
    margin-top: 0.5em;
  }
  .about .about__first-section .container-gallery .gallery .item-desktop {
    display: block;
  }
  .about .about__first-section .container-gallery h4 {
    font-size: 1.125em;
  }
  .about .about__first-section .button-container i {
    font-size: 3rem;
  }
}

/* [MRF 2022-05-13] services */
.experience {
  padding: var(--padding-section);
}
.experience h2 {
  padding: 0;
  color: #fff;
  margin-bottom: 0.5em;
  text-shadow: 0 0 10px #64ffda, 0 0 20px #64ffda, 0 0 40px #64ffda, 0 0 80px #64ffda, 0 0 120px #64ffda;
}
.experience h3 {
  font-size: 1.1rem;
  font-family: inherit;
}
.experience p {
  color: #fff;
  font-size: 0.9em;
}
.experience p span {
  color: #64ffda;
}
.experience ul {
  padding: 0;
  list-style: none;
  width: 100%;
  margin: 2em 0em;
}
.experience ul li {
  width: 100%;
  font-size: 1em;
  color: #fff;
  margin: 0.5em 0em;
  display: flex;
}
.experience ul li i {
  color: #64ffda;
  padding: 0.25em;
}
.experience ul li p {
  width: 100%;
}
.experience .button-container {
  display: flex;
  margin-top: 1.5rem;
}
.experience .button-container a {
  border: 1px solid #64ffda;
  background-color: transparent;
  color: #64ffda;
  text-decoration: none;
  padding: 0.5em;
  border-radius: 5px;
  width: 100%;
  width: 125px;
  text-align: center;
  transition: var(--tran-04);
}
.experience .button-container a:hover {
  background-color: rgba(100, 255, 218, 0.1);
}
@media all and (min-width: 1024px) {
  .experience {
    max-width: 700px;
    margin: 0px auto;
    padding: 0;
    padding: var(--padding-section-desktop);
  }
  .experience h2 {
    font-size: 2em;
  }
  .experience p {
    font-size: 1.125em;
    max-width: 605px;
  }
  .experience ul {
    padding: 0;
    list-style: none;
    width: 100%;
    margin: 2em 0em;
  }
  .experience ul li {
    width: 100%;
    font-size: 1em;
    color: #fff;
    margin: 1em 0em;
    display: flex;
  }
  .experience ul li i {
    color: #64ffda;
    padding: 0.25em;
  }
  .experience ul li p {
    width: 100%;
  }
  .experience .button-container {
    display: flex;
    margin-top: 1.5rem;
  }
  .experience .button-container a {
    border: 1px solid #64ffda;
    background-color: transparent;
    color: #64ffda;
    text-decoration: none;
    padding: 0.8em 2em;
    border-radius: 5px;
    width: 100%;
    width: 180px;
    width: auto;
    text-align: center;
    transition: var(--tran-04);
  }
  .experience .button-container a:hover {
    background-color: rgba(100, 255, 218, 0.1);
  }
}

.work {
  padding: var(--padding-section);
}
.work h2 {
  padding: 0em;
  text-shadow: 0 0 10px #64ffda, 0 0 20px #64ffda, 0 0 40px #64ffda, 0 0 80px #64ffda, 0 0 120px #64ffda;
  margin-bottom: 0.5em;
}
.work p {
  color: #fff;
  font-size: 0.9em;
}
.work .first-paragraph {
  font-style: italic;
}
.work hr {
  background-color: #e1147b;
  animation: anim-shadow-reg-pink 0.3s forwards;
  -webkit-transition-property: box-shadow, transform;
  transition-property: box-shadow, transform;
}
.work .carousel {
  margin: 0.5em 0em;
}
.work .description {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  width: 100%;
  padding: 1em 1em 0.7em 1em;
  border-radius: 4px;
  margin-top: 3em;
  background-color: rgba(51, 51, 51, 0.5019607843);
  transition: var(--tran-04);
}
.work .description:hover {
  transform: translateY(-5px);
}
.work .description .description-header {
  width: 100%;
  margin-top: -1.9rem;
  margin-bottom: 1rem;
}
.work .description .description-header i {
  font-size: 2.5em;
  color: #64ffda;
  border-radius: 4px;
  background: #0d1126;
  padding: 0.3rem;
}
.work .description .carousel-footer {
  width: 100%;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  margin-top: 0.8em;
}
.work .description .carousel-footer p {
  align-self: flex-end;
  width: 100%;
  text-align: left;
  margin-top: 0.5em;
}
.work .description .carousel-footer a {
  text-decoration: none;
  color: #64ffda;
  font-weight: 700;
  margin-right: 0.7em;
  margin-top: 0.5em;
}
.work .description .carousel-footer a i {
  font-size: 1.5rem;
  color: #64ffda;
  color: #fff;
}
.work .description h3 {
  width: 100%;
  font-size: 1em;
  text-align: left;
  color: #64ffda;
  font-weight: 700;
}
.work .description h4 {
  width: 100%;
  font-size: 1.1em;
  text-align: left;
  color: #fff;
  font-weight: 700;
}
.work .description .technologies {
  display: flex;
  justify-content: flex-start;
  width: 100%;
  height: 23px;
}
.work .description .technologies p {
  color: #fff;
  color: #64ffda;
  font-size: 0.9em;
  width: 100%;
  width: auto;
  margin-right: 0.7em;
}
.work .description p {
  color: #fff;
  font-size: 0.9em;
  width: 100%;
  margin: 0.5em 0em;
}
.work .description .carousel-inner img {
  width: 100%;
  border-radius: 4px;
  box-shadow: 2.5px 2.5px 10px rgba(0, 0, 0, 0.5);
}
@media all and (min-width: 1240px) {
  .work {
    padding: 5em 0em 5em 0em;
    max-width: 1024px;
    margin: 0px auto;
  }
  .work h2 {
    font-size: 2em;
  }
  .work p {
    font-size: 1.125em;
    max-width: 650px;
  }
  .work .container__cards {
    display: flex;
  }
  .work .container__cards .description {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    width: 100%;
    max-width: 350px;
    margin-top: 3em;
    margin-right: 1em;
  }
  .work .container__cards .description:hover {
    transform: translateY(-5px);
  }
  .work .container__cards .description .description-header {
    width: 100%;
    margin-top: -1.9rem;
    margin-bottom: 1rem;
  }
  .work .container__cards .description .description-header i {
    font-size: 2.5em;
    color: #64ffda;
    border-radius: 4px;
    background: #0d1126;
    padding: 0.3rem;
  }
  .work .container__cards .description .carousel-footer {
    width: 100%;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    margin-top: 0.8em;
  }
  .work .container__cards .description .carousel-footer p {
    align-self: flex-end;
    width: 100%;
    text-align: left;
    margin-top: 0.5em;
  }
  .work .container__cards .description .carousel-footer a {
    text-decoration: none;
    color: #64ffda;
    font-weight: 700;
    margin-right: 0.7em;
    margin-top: 0.5em;
  }
  .work .container__cards .description .carousel-footer a i {
    font-size: 1.5rem;
    color: #64ffda;
    color: #fff;
  }
  .work .container__cards .description h3 {
    width: 100%;
    font-size: 1em;
    text-align: left;
    color: #64ffda;
    font-weight: 700;
  }
  .work .container__cards .description h4 {
    width: 100%;
    font-size: 1.1em;
    text-align: left;
    color: #fff;
    font-weight: 700;
  }
  .work .container__cards .description .technologies {
    display: flex;
    justify-content: flex-start;
    width: 100%;
    height: 19px;
    margin: 1em 0em 0em 0em;
  }
  .work .container__cards .description .technologies p {
    color: #fff;
    color: #64ffda;
    font-size: 0.9em;
    width: 100%;
    width: auto;
    height: auto;
    margin-right: 0.7em;
  }
  .work .container__cards .description p {
    color: #fff;
    font-size: 1em;
    width: 100%;
    height: 80px;
    margin-top: 0.5em;
  }
  .work .container__cards .description .carousel-inner img {
    width: 100%;
    border-radius: 4px;
    box-shadow: 2.5px 2.5px 10px rgba(0, 0, 0, 0.5);
  }
  .work .button-container a {
    width: auto;
    padding: 0.8em 2em;
  }
}

/* [MRF 2022-05-13] services */
.services {
  background: #ffffff;
  background: linear-gradient(90deg, #ffffff 0%, #d3d3d3 100%);
}
.services .service-cards img {
  width: 100%;
}

/* [MRF 2022-05-13] contact */
.contact {
  padding: var(--padding-section);
  /* [2022-05-03] - 1024 responsive media query */
}
.contact h2 {
  padding: 0;
  color: #64ffda;
  text-align: center;
  font-size: 1.125rem;
  text-shadow: 0 0 10px #64ffda, 0 0 20px #64ffda, 0 0 40px #64ffda, 0 0 80px #64ffda, 0 0 120px #64ffda;
}
.contact h2 span {
  font-size: 1.125rem;
}
.contact h3 {
  text-align: center;
  color: #fff;
  font-size: clamp(30px, 8vw, 80px);
}
.contact p {
  color: #fff;
  text-align: center;
  margin-top: 0.5em;
  font-size: 0.9em;
}
.contact .contact-form-container {
  /* background-color: #fff; */
  padding: 1em;
  border-radius: 5px;
  max-width: 375px;
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  box-shadow: 20px 20px 50px rgba(0, 0, 0, 0.5);
  background: rgba(255, 255, 255, 0.1);
  backdrop-filter: blur(5px);
  margin-top: 2em;
}
.contact .contact-form-container img {
  width: 100%;
  height: 250px;
  padding: 1em;
}
.contact .contact-form-container input,
.contact .contact-form-container textarea {
  border-radius: 5px;
  outline: none;
  border: none;
  margin: 0.5em 0em;
  padding: 1em;
  padding: 0.5em;
  border: 1px solid #E4E9F7;
  width: 100%;
  resize: none;
  transition: all 0.3s ease;
  background: transparent;
  background: #0d1126;
  color: #fff;
  font-family: "Source Sans Pro", sans-serif;
  font-size: 1em;
}
.contact .contact-form-container input[type=button] {
  border: 1px solid #64ffda;
  background-color: transparent;
  color: #64ffda;
  transition: var(--tran-04);
}
.contact .contact-form-container input[type=button]:hover {
  background-color: rgba(100, 255, 218, 0.1);
}
.contact .contact-form-container input[type=button]:hover {
  cursor: pointer;
}
.contact .contact-form-container input:focus,
.contact .contact-form-container textarea:focus {
  border: 1px solid transparent;
  animation: anim-shadow-reg 0.3s forwards;
  -webkit-transition-property: box-shadow, transform;
  transition-property: box-shadow, transform;
}
@media (min-width: 1024px) {
  .contact {
    padding: var(--padding-section-desktop);
  }
  .contact h2 {
    font-size: 2em;
  }
  .contact h3 {
    text-align: center;
    color: #fff;
    font-size: clamp(35px, 8vw, 55px);
  }
  .contact p {
    color: #fff;
    text-align: center;
    margin-top: 0.5em;
    font-size: 1.125em;
  }
  .contact .contact-form-container {
    max-width: 1024px;
    margin: 0px auto;
    flex-wrap: nowrap;
    margin-top: 2em;
  }
  .contact .contact-form-container img {
    width: 50%;
    height: 350px;
    height: auto;
    padding: 1em;
  }
  .contact .contact-form-container .contact-form {
    display: flex;
    align-items: center;
  }
  .contact .contact-form-container input,
.contact .contact-form-container textarea {
    border-radius: 5px;
    outline: none;
    border: none;
    margin: 0.5em 0em;
    padding: 1em;
    border: 1px solid #E4E9F7;
    width: 100%;
    width: 100%;
    resize: none;
    font-size: 0.9em;
  }
  .contact .contact-form-container .email-sent {
    width: 100%;
    height: 255px;
    padding: 1em;
  }
  .contact .success {
    max-width: 450px;
  }
  .contact p {
    max-width: 450px;
    margin: 0px auto;
  }
}

footer {
  padding: 4em 0em 1em 0em;
  height: auto;
}
footer h2 {
  padding: 0;
  font-family: "Roboto", sans-serif;
  color: #64ffda;
  font-size: 17px;
  text-shadow: 0 0 10px #64ffda, 0 0 20px #64ffda, 0 0 40px #64ffda, 0 0 80px #64ffda, 0 0 120px #64ffda;
}
footer .link-footer-section {
  display: flex;
  width: 100%;
  flex-wrap: wrap;
  padding: 0.7em;
  justify-content: space-between;
}
footer .link-footer-section a {
  width: 20%;
  text-decoration: none;
  color: #777777;
  text-align: center;
  font-family: "Source Sans Pro", sans-serif;
}
footer hr {
  height: 1px;
  border-color: #777777;
}
footer ul {
  display: flex;
  width: 100%;
  height: auto;
  align-items: center;
  padding: 0.5em 1.5em;
  justify-content: center;
  max-width: 275px;
  margin: 0em auto;
}
footer ul li {
  list-style: none;
  margin: 0px 5px;
}
footer ul li a i {
  font-size: 1.5rem;
  color: #64ffda;
  color: #ccc;
  color: #777777;
  border-radius: 50%;
  background-color: rgba(51, 51, 51, 0.5019607843);
  padding: 0.4em;
}
footer label {
  display: flex;
  color: #64ffda;
  color: #777777;
  text-align: center;
  justify-content: center;
  width: 100%;
  font-size: 1em;
  padding: 1em;
  font-family: "Poppins", sans-serif;
}
footer label a {
  text-decoration: none;
  color: #64ffda;
}
@media all and (min-width: 1240px) {
  footer .link-footer-section {
    max-width: 1024px;
    margin: 0px auto;
    padding: 2.5em 4.5em;
    justify-content: space-between;
  }
  footer .link-footer-section a {
    width: auto;
    font-size: 1.1em;
    transition: var(--transition);
  }
  footer .link-footer-section a:hover {
    color: #64ffda;
  }
  footer hr {
    max-width: 1024px;
    margin: 0px auto;
    height: 1px;
    border-color: #777777;
  }
  footer ul {
    justify-content: center;
    max-width: 500px;
  }
  footer ul li {
    list-style: none;
    margin: 0px 15px;
  }
  footer ul li a i {
    font-size: 1.7rem;
  }
  footer label {
    display: flex;
    justify-content: center;
    font-size: 1.125em;
    padding: 2.5em 1.5em;
  }
  footer label a {
    text-decoration: none;
    color: #64ffda;
  }
}

/*# sourceMappingURL=main.css.map */
