/* Start [2021-03-10] - Mobile version */
/* Start [2021-03-24] imports */
/* Start [2021-03-24] Colors */
/* End   [2021-03-24] Colors */
/* End   [2021-03-24] imports */
/* Start [2021-03-10] - ROOT */
:root {
  --body-background-color: radial-gradient(ellipse at bottom, #1b2735 0%, #090a0f 100%);
  --transition: transform 0.25s cubic-bezier(0.645, 0.045, 0.355, 1);
}

/* End   [2021-03-10] - ROOT */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: var(--body-background-color);
  background-color: #142032;
  background-image: url("../img/retrowave.jpg");
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  background-position: center center;
  background-repeat: no-repeat;
  background-attachment: fixed;
  overflow-x: hidden;
}

/* Start [2021-03-10] - Titles styles  */
h1,
h2 {
  width: 100%;
  font-family: "Nunito Sans", sans-serif;
  font-weight: 700;
  text-align: center;
}

h1 {
  color: #fff;
}

h2 {
  font-size: 35px;
  text-decoration: none;
  font-weight: normal;
  -webkit-text-stroke: 1px #f8f32b;
  -webkit-text-fill-color: transparent;
  animation: glow-title-yellow 2s ease-in-out infinite alternate;
  font-family: "Raleway", sans-serif;
  margin-bottom: 0rem;
  padding: 0;
}

h3 {
  color: #64ffda;
}

h1,
h2,
h3 {
  padding: 10px;
}

a {
  text-decoration-skip-ink: auto;
  text-decoration: none;
  font-family: "Raleway", sans-serif;
  font-size: 2.7rem;
  color: #64ffda;
}

p {
  text-align: center;
}

textarea {
  resize: none;
}

.big__heading {
  font-size: clamp(40px, 8vw, 80px);
  text-align: center;
}

/* End   [2021-03-10] - Titles styles  */
/* Start [2021-03-10] - Animations */
/*aqua*/
@keyframes glow-title {
  from {
    text-shadow: 0 0 10px #64ffda, 0 0 20px #64ffda;
  }
  to {
    text-shadow: 0 0 20px #64ffda;
  }
}
@keyframes anim-shadow-reg {
  100% {
    box-shadow: 0px 0px 1px 1px #64ffda;
  }
}
@keyframes hard-anim-shadow-reg {
  100% {
    box-shadow: 0px 0px 10px 1px #64ffda;
  }
}
/*pink*/
@keyframes glow-title-pink {
  from {
    text-shadow: 0 0 10px #d64cA8, 0 0 20px #d64cA8;
  }
  to {
    text-shadow: 0 0 20px #d64cA8;
  }
}
@keyframes anim-shadow-reg-pink {
  100% {
    box-shadow: 0px 0px 10px 1px #FF4FC7;
  }
}
/*yellow*/
@keyframes glow-title-yellow {
  from {
    text-shadow: 0 0 10px #f8f32b, 0 0 20px #f8f32b;
  }
  to {
    text-shadow: 0 0 20px #f8f32b;
  }
}
@keyframes anim-shadow-reg-yellow {
  100% {
    box-shadow: 0px 0px 10px 1px #f8f32b;
  }
}
/* End   [2021-03-10] - Animations */
/* Start Header */
.container {
  width: 100%;
}

.header {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
  padding: 2.5rem 2.5rem;
  left: 0;
  top: 0;
  right: 0;
  z-index: 10;
}

.header span i {
  font-size: 2rem;
  color: #64ffda;
  cursor: pointer;
  padding: 0.5rem 1rem;
  background: transparent;
  border-radius: 5px;
  border: 1px solid #64ffda;
}

.header div nav a {
  font-size: 1.1rem;
  color: #fff;
  text-decoration: none;
  font-family: "Raleway", sans-serif;
}

.navigation ul.show {
  display: block;
}

.navigation {
  width: 100%;
  margin-top: 1.5rem;
}
.navigation ul {
  display: none;
}
.navigation ul li {
  display: block;
  text-align: center;
}
.navigation ul li a {
  display: inline-block;
  padding: 0.5rem 0rem;
  transition: all 0.4s linear;
  padding: 20px;
  margin-bottom: 2rem;
}

.links__0:hover {
  color: #64ffda;
  opacity: 1;
}

.links__1:hover {
  color: #64ffda;
  opacity: 1;
}

.links__2:hover {
  color: #64ffda;
  opacity: 1;
}

.links__3:hover {
  color: #64ffda;
  opacity: 1;
}

.links__4:hover {
  color: #64ffda;
  opacity: 1;
}

.links__5:hover {
  color: #64ffda;
  opacity: 1;
}

.logo-main {
  font-size: 30px;
  text-decoration: none;
  font-weight: normal;
  -webkit-text-stroke: 1px #d64cA8;
  -webkit-text-fill-color: transparent;
  animation: glow-title-pink 2s ease-in-out infinite alternate;
  font-family: "Raleway", sans-serif;
}

/*End Header*/
/*Presentation Section*/
.item__span, .presentation__hi, .navigation__span {
  font-family: "Raleway", sans-serif;
  color: #64ffda;
}

.presentation__hi {
  font-size: 1.5rem;
  padding: 5px;
}

.paragraph {
  color: #8892b0;
  font-family: sans-serif;
  padding: 1rem 0rem;
  font-size: 1.2rem;
  padding: 10px;
  width: 100%;
}

/* Start M icon */
.container__logo {
  height: 10px;
  position: relative;
  padding: 0.7em;
  text-align: center;
  z-index: 1;
  margin-top: -2rem;
  box-shadow: 0px 0px 15px 0 rgba(0, 0, 0, 0.1);
}

.container__logo::before,
.container__logo::after {
  content: "";
}

.container__logo::before,
.container__logo::after {
  top: 0%;
  left: 0%;
  width: 100%;
  height: 300%;
  display: block;
  position: absolute;
  -webkit-clip-path: polygon(50% 0%, 100% 25%, 100% 75%, 50% 100%, 0% 75%, 0% 25%);
  clip-path: polygon(50% 0%, 100% 25%, 100% 75%, 50% 100%, 0% 75%, 0% 25%);
  z-index: -1;
}

.container__logo::before {
  background: #fff;
  background: #d64cA8;
  transform: scale(1.1);
}

.container__logo::after {
  background-color: #142032;
  transition: opacity 350ms;
  -webkit-transition: opacity 350ms;
}

/* End M icon */
/* Start - characteristics of the sections in general*/
section {
  display: flex;
  flex-wrap: wrap;
  padding: 3rem 2rem;
  width: 100vw;
  height: 100%;
  justify-content: center;
}

.presentation {
  padding: 2rem;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}
.presentation .presentation__menu {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  min-width: 5%;
  font-weight: bold;
}
.presentation .presentation__menu a {
  font-size: 1.7rem;
  cursor: pointer;
  transition: var(--transition);
}
.presentation .presentation__menu a:hover {
  -webkit-text-fill-color: #64ffda;
  animation: glow-title 1.5s ease-in-out infinite alternate;
}
.presentation .presentation__menu .menu__branch-2 {
  margin-left: 10px;
}
.presentation .presentation__menu .menu__branch-2 a {
  color: #d64cA8;
}
.presentation .presentation__menu .menu__branch-2 a:hover {
  -webkit-text-fill-color: #d64cA8;
  animation: glow-title-pink 1.5s ease-in-out infinite alternate;
}
.presentation .presentation__menu .menu__submenu {
  margin-top: 12px;
  margin-left: 10px;
  color: #f8f32b;
  font-family: "Raleway", sans-serif;
}
.presentation .presentation__menu .menu__submenu p {
  text-align: left;
  transition: var(--transition);
}
.presentation .presentation__menu .menu__submenu p:hover {
  -webkit-text-fill-color: #f8f32b;
  animation: glow-title-yellow 1.5s ease-in-out infinite alternate;
  cursor: pointer;
  transform: translateX(5px);
}
.presentation .presentation__main {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  max-width: 700px;
}
.presentation .redes-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  width: 10%;
}
.presentation footer {
  margin-top: 13rem;
}

.menu__2:before {
  content: "";
  display: block;
  position: absolute;
  margin-top: -0.75rem;
  margin-left: 7px;
  width: 2px;
  height: 30px;
  background-color: #64ffda;
}

.menu__3:before {
  content: "";
  display: block;
  position: absolute;
  margin-top: -0.75rem;
  margin-left: 7px;
  width: 2px;
  height: 30px;
  background-color: #64ffda;
}

.menu__4:before {
  content: "";
  display: block;
  position: absolute;
  margin-top: -0.75rem;
  margin-left: 7px;
  width: 2px;
  height: 30px;
  background-color: #64ffda;
}

.menu__5:before {
  content: "";
  display: block;
  position: absolute;
  margin-top: -0.75rem;
  margin-left: 7px;
  width: 2px;
  height: 30px;
  background-color: #64ffda;
}

.menu__7:before {
  content: "";
  display: block;
  position: absolute;
  margin-top: -0.75rem;
  margin-left: 7px;
  width: 2px;
  height: 30px;
  background-color: #d64cA8;
}

.menu__8:before {
  content: "";
  display: block;
  position: absolute;
  margin-top: -0.75rem;
  margin-left: 7px;
  width: 2px;
  height: 30px;
  background-color: #d64cA8;
}

.menu__9:before {
  content: "";
  display: block;
  position: absolute;
  margin-top: -0.75rem;
  margin-left: 7px;
  width: 2px;
  height: 30px;
  background-color: #d64cA8;
}

.menu__10:before {
  content: "";
  display: block;
  position: absolute;
  margin-top: -0.75rem;
  margin-left: 7px;
  width: 2px;
  height: 30px;
  background-color: #d64cA8;
}

.paragraph br {
  display: none;
}

/* Start - characteristics of the sections in general*/
/* Start about me */
.about__first-section {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.about__description {
  border-radius: 5px;
}

.skills {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  width: 100%;
  border-radius: 5px;
}
.skills div {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  width: 100%;
}

/* Start [2021-03-10] - Grid galery */
.galery {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
  grid-auto-rows: 280px;
  /*grid-column-gap: 20px;
  grid-row-gap: 20px;*/
  grid-gap: 70px;
  padding: 3.5rem;
}

.galery__item {
  border-radius: 5px;
  background-color: #64ffda;
  animation: anim-shadow-reg 0.3s forwards;
  -webkit-transition-property: box-shadow, transform;
  transition-property: box-shadow, transform;
}

.galery__item img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  opacity: 0.6;
  transition: all 0.2s ease;
  border-radius: 5px;
}

/* End   [2021-03-10] - Grid galery */
/* idea 1 de parrafo
.galery__item p {
    position: absolute;
    background-color: #000;
    width: 100px;
    height: 25px;
    border-top-right-radius: 5px;
    border-bottom-right-radius: 5px;
    margin-top: 250px;
    color: #fff;
    z-index: 10;
    padding: 3px;
}*/
.galery__item p {
  margin-top: 10px;
  animation: glow-title 2s ease-in-out infinite alternate;
  font-family: "Raleway", sans-serif;
  color: #fff;
}

.galery__item img:hover {
  opacity: 1;
  animation: hard-anim-shadow-reg 0.3s forwards;
  -webkit-transition-property: box-shadow, transform;
  transition-property: box-shadow, transform;
  transform: scale(1.02);
}

/* End about me */
/* Start list styles */
.list__item, .experience__list-item, .skills__list-item {
  color: #cdcdcd;
  list-style: none;
  border-radius: 5px;
  margin: 12px;
  text-align: left;
}
.list__item i, .experience__list-item i, .skills__list-item i {
  color: #64ffda;
}

#aboutMeDescription div:nth-child(2) {
  width: 50%;
}

#aboutMeDescription div:last-child {
  width: 50%;
}

#aboutMeDescription div {
  padding: 10px;
}

#aboutMeDescription p {
  text-align: justify;
  text-justify: inter-word;
}

/* End list styles */
/*Start proyects img*/
.work__proyect-img {
  width: 100%;
}

/*End proyects img*/
/*start Button*/
.button, .button--mod, .button--form {
  padding: 15px;
  border: solid 1px #64ffda;
  border-radius: 5px;
  background-color: transparent;
  color: #64ffda !important;
  transition: all 0.25s cubic-bezier(0.645, 0.045, 0.355, 1);
  margin-top: 3rem;
}
.button:hover, .button--mod:hover, .button--form:hover {
  background-color: rgba(100, 255, 218, 0.1);
}
@media screen and (min-width: 768px) {
  .button, .button--mod, .button--form {
    padding: 20px;
  }
}

.btn-close {
  padding: 1rem;
  border: 1px solid #ccc;
}

.button--form {
  width: 169px;
  margin-top: 0rem;
  padding: 5px;
  font-size: 1.2rem;
}

.button--form:active {
  animation: hard-anim-shadow-reg 0.3s forwards;
  -webkit-transition-property: box-shadow, transform;
  transition-property: box-shadow, transform;
}

.button--form:focus {
  animation: hard-anim-shadow-reg 0.3s forwards;
  -webkit-transition-property: box-shadow, transform;
  transition-property: box-shadow, transform;
}

/*End Button*/
/* Start [2021-03-18] - Modal Get in touch index */
.modal-header {
  background-color: #64ffda;
  border: none;
}

.button--mod {
  width: 48%;
  margin: 0px auto 10px auto;
  margin-top: 0rem;
  padding: 10px;
  font-size: 1.2rem;
}

.mod:active {
  animation: hard-anim-shadow-reg 0.3s forwards;
  -webkit-transition-property: box-shadow, transform;
  transition-property: box-shadow, transform;
}

.mod:focus {
  animation: hard-anim-shadow-reg 0.3s forwards;
  -webkit-transition-property: box-shadow, transform;
  transition-property: box-shadow, transform;
}

.modal-body,
.modal-footer,
.form-control {
  background-color: #142032;
  background-color: transparent;
  border: none;
  color: #fff;
}

.form-control {
  border: 1px solid #64ffda;
}

.form-control:focus {
  background-color: #142032;
  background-color: transparent;
  animation: hard-anim-shadow-reg 0.3s forwards;
  -webkit-transition-property: box-shadow, transform;
  transition-property: box-shadow, transform;
  color: #fff;
}

.form-control:active {
  background-color: #142032;
  background-color: transparent;
  animation: hard-anim-shadow-reg 0.3s forwards;
  -webkit-transition-property: box-shadow, transform;
  transition-property: box-shadow, transform;
  color: #fff;
}

/* [2021-03-19] - modal confirm */
.modal-confirm {
  color: #434e65;
  width: 525px;
}

.modal-confirm .modal-content {
  padding: 20px;
  font-size: 16px;
  border-radius: 5px;
  border: none;
}

.modal-confirm .modal-header {
  background: #47c9a2;
  border-bottom: none;
  position: relative;
  text-align: center;
  margin: -20px -20px 0;
  border-radius: 5px 5px 0 0;
  padding: 35px;
}

.modal-confirm h4 {
  text-align: center;
  font-size: 36px;
  margin: 10px 0;
}

.modal-confirm .form-control,
.modal-confirm .btn {
  min-height: 40px;
  border-radius: 3px;
}

.modal-confirm .close {
  position: absolute;
  top: 15px;
  right: 15px;
  color: #fff;
  text-shadow: none;
  opacity: 0.5;
}

.modal-confirm .close:hover {
  opacity: 0.8;
}

.modal-confirm .icon-box {
  color: #fff;
  width: 95px;
  height: 95px;
  display: inline-block;
  border-radius: 50%;
  z-index: 9;
  border: 5px solid #fff;
  padding: 15px;
  text-align: center;
}

.modal-confirm .icon-box i {
  font-size: 64px;
  margin: -4px 0 0 -4px;
}

.modal-confirm.modal-dialog {
  margin-top: 80px;
}

.modal-confirm .btn,
.modal-confirm .btn:active {
  color: #fff;
  border-radius: 4px;
  background: #eeb711 !important;
  text-decoration: none;
  transition: all 0.4s;
  line-height: normal;
  border-radius: 30px;
  margin-top: 10px;
  padding: 6px 20px;
  border: none;
}

.modal-confirm .btn:hover,
.modal-confirm .btn:focus {
  background: #eda645 !important;
  outline: none;
}

.modal-confirm .btn span {
  margin: 1px 3px 0;
  float: left;
}

.modal-confirm .btn i {
  margin-left: 1px;
  font-size: 20px;
  float: right;
}

.trigger-btn {
  display: inline-block;
  margin: 100px auto;
}

/* End   [2021-03-18] - Modal Get in touch index */
/* Start [2021-03-16] - form */
.formLabel {
  color: #8892b0;
}

/* End   [2021-03-16] - form */
/*Start Footer*/
footer {
  display: flex;
  justify-content: center;
  padding: 0rem;
  height: 50px;
  width: 100%;
}
footer p {
  margin-top: 1rem;
  font-size: 30px;
  text-decoration: none;
  font-weight: normal;
  align-self: center;
  -webkit-text-stroke: 1px #f8f32b;
  -webkit-text-fill-color: transparent;
  animation: glow-title-yellow 2s ease-in-out infinite alternate;
  font-family: "Raleway", sans-serif;
}

/*End Footer*/
/* Start [2021-03-05] - Experience */
.experience {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  width: 100vw;
  height: 100vh;
}
.experience div {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  width: 100%;
}
.experience div p {
  margin-top: 3rem;
}
.experience div ul {
  margin-bottom: 10rem;
}
.experience h2 {
  text-align: center;
}
.experience footer {
  margin-top: 15rem;
}

/* End   [2021-03-05] - Experience */
/* Start [2021-03-05] - work */
.work {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  width: 100vw;
  height: 100%;
}
.work div {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  width: 100%;
}
.work div img {
  max-width: 700px;
  max-height: 500px;
}
.work h2,
.work h3 {
  text-align: center;
  width: 100%;
}
.work footer {
  margin-top: 3rem;
}

/* End   [2021-03-05] - work */
/* Start [2021-03-05] - Contact */
.contact {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  width: 100vw;
  height: 100vh;
}
.contact h2,
.contact h3 {
  text-align: center;
}
.contact footer {
  margin-top: 5rem;
}

/* End   [2021-03-05] - Contact */
/* End   [2021-03-10] - Mobile version */
@media only screen and (max-width: 768px) {
  .mod {
    width: 45%;
    padding: 5px;
  }
}
/* Start [2021-03-10] - Responsive 768px - TABLET */
@media only screen and (min-width: 768px) {
  .paragraph br {
    display: block;
  }
}
/* End   [2021-03-10] - Responsive 768px */
/* Start [2021-03-10] - Responsive 1024px - DESKTOP */
@media only screen and (min-width: 1024px) {
  .header {
    padding: 1.5rem 6rem;
  }

  .navigation {
    width: 90%;
    margin-top: -1.6rem;
    text-align: right;
  }

  /*
  .header span i {
      display: none;
  }*/
  .navigation ul {
    display: block;
    margin: 0;
    list-style: none;
  }

  .navigation ul li {
    display: inline-block;
  }

  .navigation ul.show {
    display: none;
  }

  .navigation ul li a {
    padding: 0.5rem 1rem;
    transition: all 0.4s linear;
  }

  .button, .button--form, .button--mod {
    padding: 20px;
  }

  .container__logo {
    margin-top: -1.8rem;
  }

  .presentation {
    padding: 1rem;
  }

  .paragraph {
    font-size: 1.4rem;
  }

  .big__heading {
    font-size: clamp(40px, 8vw, 70px);
  }

  footer {
    margin-top: 4rem;
  }

  .menu .links {
    padding: 4rem 3rem;
  }

  .redes-container {
    margin-right: 3rem;
  }
}
/* End   [2021-03-10] - Responsive 1024px - DESKTOP */
.loading-screen {
  position: absolute;
  width: 100%;
  height: 100vh;
  background: #0a0a0a;
  z-index: 2;
}

/* menu html*/
.menu {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  width: 100vw;
  height: 100%;
  padding: 4rem 0rem 0rem 0rem;
}
.menu h2 {
  font-size: 35px;
  text-decoration: none;
  font-weight: normal;
  -webkit-text-stroke: 1px #f8f32b;
  -webkit-text-fill-color: transparent;
  animation: glow-title-yellow 2s ease-in-out infinite alternate;
  font-family: "Raleway", sans-serif;
  margin-bottom: 0rem;
  padding: 0;
}
.menu .links {
  padding: 1rem 1rem 6rem 1rem;
}

.links__li {
  display: flex;
  flex-wrap: wrap;
  margin: 1rem;
  font-size: 35px;
  text-decoration: none;
  font-weight: normal;
  -webkit-text-stroke: 1px #64ffda;
  -webkit-text-fill-color: transparent;
  font-family: "Raleway", sans-serif;
}

.smenu__0 {
  opacity: 0;
  transform: rotate(-90deg);
  -webkit-text-fill-color: #64ffda;
  animation: glow-title 2s ease-in-out infinite alternate;
  transition: all 0.2s ease;
}

.smenu__1 {
  opacity: 0;
  transform: rotate(-90deg);
  -webkit-text-fill-color: #64ffda;
  animation: glow-title 2s ease-in-out infinite alternate;
  transition: all 0.2s ease;
}

.smenu__2 {
  opacity: 0;
  transform: rotate(-90deg);
  -webkit-text-fill-color: #64ffda;
  animation: glow-title 2s ease-in-out infinite alternate;
  transition: all 0.2s ease;
}

.smenu__3 {
  opacity: 0;
  transform: rotate(-90deg);
  -webkit-text-fill-color: #64ffda;
  animation: glow-title 2s ease-in-out infinite alternate;
  transition: all 0.2s ease;
}

.smenu__4 {
  opacity: 0;
  transform: rotate(-90deg);
  -webkit-text-fill-color: #64ffda;
  animation: glow-title 2s ease-in-out infinite alternate;
  transition: all 0.2s ease;
}

.smenu__5 {
  opacity: 0;
  transform: rotate(-90deg);
  -webkit-text-fill-color: #64ffda;
  animation: glow-title 2s ease-in-out infinite alternate;
  transition: all 0.2s ease;
}

.smenu__0:hover {
  cursor: pointer;
}

.smenu__1:hover {
  cursor: pointer;
}

.smenu__2:hover {
  cursor: pointer;
}

.smenu__3:hover {
  cursor: pointer;
}

.smenu__4:hover {
  cursor: pointer;
}

.smenu__5:hover {
  cursor: pointer;
}

.links__0:hover {
  cursor: pointer;
  animation: glow-title 2s ease-in-out infinite alternate;
  -webkit-text-fill-color: #64ffda;
  transform: scale(1.1);
}

.links__1:hover {
  cursor: pointer;
  animation: glow-title 2s ease-in-out infinite alternate;
  -webkit-text-fill-color: #64ffda;
  transform: scale(1.1);
}

.links__2:hover {
  cursor: pointer;
  animation: glow-title 2s ease-in-out infinite alternate;
  -webkit-text-fill-color: #64ffda;
  transform: scale(1.1);
}

.links__3:hover {
  cursor: pointer;
  animation: glow-title 2s ease-in-out infinite alternate;
  -webkit-text-fill-color: #64ffda;
  transform: scale(1.1);
}

.links__4:hover {
  cursor: pointer;
  animation: glow-title 2s ease-in-out infinite alternate;
  -webkit-text-fill-color: #64ffda;
  transform: scale(1.1);
}

.links__5:hover {
  cursor: pointer;
  animation: glow-title 2s ease-in-out infinite alternate;
  -webkit-text-fill-color: #64ffda;
  transform: scale(1.1);
}

.redes-container {
  padding: 2rem 1.5rem;
}
.redes-container ul {
  list-style: none;
}
.redes-container ul li a:hover {
  -webkit-text-fill-color: #64ffda;
  animation: glow-title 1.5s ease-in-out infinite alternate;
}
.redes-container ul li a i {
  transition: var(--transition);
}
.redes-container ul li a i:hover {
  transform: translateY(-5px);
}

/*Map*/
/*Each*/
.github {
  font-size: 55px;
  text-decoration: none;
  font-weight: normal;
  -webkit-text-stroke: 1px #64ffda;
  -webkit-text-fill-color: transparent;
}

.discord {
  font-size: 55px;
  text-decoration: none;
  font-weight: normal;
  -webkit-text-stroke: 1px #64ffda;
  -webkit-text-fill-color: transparent;
}

.linkedin {
  font-size: 55px;
  text-decoration: none;
  font-weight: normal;
  -webkit-text-stroke: 1px #64ffda;
  -webkit-text-fill-color: transparent;
}

.codepen {
  font-size: 55px;
  text-decoration: none;
  font-weight: normal;
  -webkit-text-stroke: 1px #64ffda;
  -webkit-text-fill-color: transparent;
}

/*404 PAGE*/
.error404 {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  width: 100vw;
  height: 100vh;
}
.error404 img {
  margin-top: 2rem;
  max-width: 450px;
  max-height: 250px;
}
.error404 h2 {
  position: absolute;
  top: 8.5rem;
  left: 0;
  right: 0;
  bottom: 0;
  margin: auto;
}
.error404 footer {
  margin-top: 15rem;
}

/*# sourceMappingURL=styles.css.map */
