@mixin button {
    padding: 15px;
    border: solid 1px $aqua;
    border-radius: 5px;
    background-color: transparent;
    color: $aqua !important;
    transition: all 0.25s cubic-bezier(0.645, 0.045, 0.355, 1);
    margin-top: 3rem;
    &:hover {
        background-color: rgba(100, 255, 218, 0.1);
    }
    @media screen and (min-width:768px) {
        padding: 20px;
    }
}

@mixin animation-call {
    animation: hard-anim-shadow-reg .3s forwards;
    -webkit-transition-property: box-shadow, transform;
    transition-property: box-shadow, transform;
}