* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    overflow-x: hidden;
    background: #0d1126;
    // background-color: #151519;
}

@import "color";

:root {

    --padding-section: 5em 1.5em;
    --padding-section-desktop: 5em 0em 2.5em 0em;

    /* ====== Transition ====== */
    --tran-03: all 0.2s ease;
    --tran-03: all 0.3s ease;
    --tran-04: all 0.3s ease;
    --tran-05: all 0.3s ease;
    --transition: all 0.25s cubic-bezier(0.645,0.045,0.355,1);
}

@keyframes anim-shadow-reg-primary {
    100% {
        box-shadow: 0px 0px 5px 1px $aqua;
    }
}

@keyframes anim-shadow-reg {
    100% {
        //   box-shadow: 0px 0px 10px 1px #695CFE;
        box-shadow: 0px 0px 10px 1px $aqua;
    }
}

@keyframes anim-shadow-reg-pink {
    100% {
        //   box-shadow: 0px 0px 10px 1px #695CFE;
        box-shadow: 0px 0px 10px 1px #e1147b;
    }
}

@keyframes glow-title {
    from {
        text-shadow: 0 0 10px $aqua, 0 0 20px $aqua;
    }

    to {
        text-shadow: 0 0 20px $aqua;
    }
}

h1 {
    font-family: 'Roboto', sans-serif;
}

h2,
h3,
h4 {
    font-family: 'Poppins', sans-serif;
    color: #fff;
}

p {
    font-family: Helvetica, sans-serif;
    font-family: 'Source Sans Pro', sans-serif;
}

a{
    font-family: 'Source Sans Pro', sans-serif;
    font-weight: 600;
}

.button-container{

    display: flex;
    margin-top: 2rem;
    a{
        border: 1px solid $aqua;
        background-color: transparent;
        // text-transform: uppercase;
        color: $aqua;
        text-decoration: none;
        padding: 0.5em;
        // margin: 0em 0.5em;
        border-radius: 5px;
        width: 100%;
        width: auto;
        width: 125px;
        // width: 150px;
        text-align: center;
        transition: var(--tran-04);
        &:hover {
            background-color: rgba(100, 255, 218, 0.1);
        }
        font-size: 1em;
    }
}

/* Start [MRF 2022-05-22] header */

#header {

    background-color: #0d1126;
    width: 100%;
    top: 0;
    position: fixed;
    z-index: 10;
    padding: 0.3em 0em;
    box-shadow: 2.5px 2.5px 10px rgba(0, 0, 0, 0.4);

    .menu {
        width: 100%;
        // max-width: 1240px;
        margin: auto;
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-items: center;
        flex-wrap: wrap;


        .logo {
            display: inline-block;
            margin: 10px 0 10px 10px;
            padding: 0em 0.7em;

            .btn-menu {
                display: none;
                // color: lighten(red, 100%);
                color: #fff;
                color: $aqua;
                text-decoration: none;
                font-size: 0.7em;
                align-self: center;
                margin-right: 10px;
                text-shadow: 0 0 10px $aqua,
                    0 0 20px $aqua,
                    0 0 40px $aqua,
                    0 0 80px $aqua,
                    0 0 120px $aqua;

                i {
                    font-size: 2rem;
                }
            }

            img,
            label {
                vertical-align: top;
                width: 70px;
                margin-top: 4px;
                font-family: 'Roboto', sans-serif;
                color: $aqua;
                font-size: 17px;
                color: #fff;
                text-shadow: 0 0 10px $aqua,
                    0 0 20px $aqua,
                    0 0 40px $aqua,
                    0 0 80px $aqua,
                    0 0 120px $aqua;
            }
        }
    }
}

.menu .enlaces { 
    display: inline-block;
    text-align: right;
    font-family: 'Francois One', sans-serif;
    letter-spacing: 0.1em;
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;
    // background-color: $aqua;
    height: 100vh;
    padding-bottom: 11rem;
    width: 100%;

    a {
        color: #fff;
        text-decoration: none;
        display: inline-block;
        font-size: 1.1em;
        text-align: center;
        margin: 0.5em 0em;
        width: 100%;
        font-family: 'Source Sans Pro', sans-serif;
    }

    i {

        font-size: 1.5rem;
    }

    hr {
        width: 45%;
        color: $aqua;
        background-color: $aqua;
        border-color: $aqua;
        animation: anim-shadow-reg .3s forwards;
        -webkit-transition-property: box-shadow, transform;
        transition-property: box-shadow, transform;
        margin: 1.5em 0em 1.5em 0em;
    }

    .social-media-container {
        display: flex;
        width: 100%;
        justify-content: center;
        padding: 0em 3em;
    }
}

@media all and (min-width:1240px) {
    #header {
        padding: 0.7em 0em;
        .menu {
            padding: 0rem 1.5rem;
            // height: 65px;
            max-width: 1440px;
            flex-wrap: nowrap;
            .logo{
                label{
                    display: flex; 
                }
            }
        }
    }

    

    .menu .enlaces {

        font-family: 'Francois One', sans-serif;
        letter-spacing: 0.1em;
        // background-color: $aqua;
        width: 100%;
        height: auto;
        display: inline-block;
        z-index: 100;
        // margin-top: 50px;
        padding: 0;

        a {
            color: #fff;
            text-decoration: none;
            display: inline-block;
            font-size: 1.1em;
            text-align: center;
            margin: 0.3em 0.5em;
            // padding: 1em;
            width: auto;
            font-family: 'Source Sans Pro', sans-serif;
            transition: var(--transition);
            &:hover{
                color: $aqua;
            }
        }

        .download {
            padding: 0.5rem;
            border-radius: 4px;
            border: 1px solid $aqua;
            transition: var(--tran-04);
            padding: 0.5em 1em;

            &:hover {
                background-color: rgba(100, 255, 218, 0.1);
            }
        }

        i {
            font-size: 1.3rem;
        }

        hr {
            display: none;
        }

        .social-media-container {
            display: none;

        }
    }
}

@media all and (max-width:780px) {

    #header .menu {
        // flex-direction: column;

        .logo {
            display: flex;
            flex-direction: row;
            justify-content: space-between;
            width: 100%;
            align-items: flex-start;

            img {
                width: 50px;
            }

            .btn-menu {
                display: inline-block;
            }
        }

        .enlaces {
            display: flex;
            flex-direction: column;
            width: 100%;
        }
    }
}

/* End [MRF 2022-05-22] header */

.presentation {
    display: flex;
    width: 100%;
    // height: 100vh;
    justify-content: space-between;
    flex-wrap: wrap;
    align-items: center;
    flex-direction: column;
    padding: 7em 0em 0em 0em;

    .presentation__content {

        .hi {
            color: $aqua;
            font-size: 1.1em;
            text-align: center;
            width: 100%;
            // background-color: violet;
            margin-bottom: 0.5em;
        }

        h1 {
            width: 100%;
            // font-size: 2em;
            color: #fff;
            font-size: clamp(35px, 8vw, 80px);
            // background-color: violet;
            margin-bottom: 0.3em;
        }

        .paragraph {
            width: 100%;
            color: #ccc;
            text-align: center;
            // background-color: violet;

            .typed {
                color: $aqua
            }
        }

        .container {
            display: flex;
            width: 100%;
            justify-content: center;
            margin: 1.5em 0em 1em 0em;
            padding: 0;

            .button {
                border: 1px solid $aqua;
                background-color: transparent;
                color: $aqua;
                text-decoration: none;
                padding: 0.5em;
                margin: 0em 0.5em;
                border-radius: 5px;
                width: 100%;
                max-width: 125px;
                text-align: center;
                transition: var(--tran-04);
            }

            .download {

                &:hover {
                    background-color: rgba(100, 255, 218, 0.1);
                }
            }

            .talk {
                background-color: $aqua;
                color: #fff;
                color: #000;
            }
        }
    }

    .container-img {
        display: flex;
        width: 100%;
        justify-content: flex-end;
        align-items: flex-end;
        align-self: flex-end;
        flex-wrap: wrap;
        margin: 1.5rem 0rem 0rem 0rem;

        img {
            width: 350px;
            height: 375px;
            margin: 0px auto;
            padding: 0em 1em;
            object-fit: cover;
            object-position: 15px 0px;
            background-image: url("../img/blob-haikei(4).svg");
        }
    }

    .end {
        margin-top: 1rem;
    }

    // check 1366
    @media all and (min-width:1024px)
    {
        flex-direction: row;
        justify-content: space-between;
        align-items: center;
        max-width: 1024px;
        padding: 6.5em 0em 6.5em 0em;
        margin: 0px auto;
        .presentation__content{

            width: 50%;
            max-width: 700px;
            // height: 375px;
            display: flex;
            flex-direction: column;
            justify-content: space-between;
            // background-color: red;
            padding: 0;
            .hi {
                color: $aqua;
                font-size: 1.1em;
                width: 100%;
                // background-color: blue;
                text-align: center;
                text-align: left;
                margin-bottom: 0.5em;
                // padding: 0em 1em;
                // background-color: violet;
            }
            h1 {
                width: 100%;
                // text-align: center;
                color: #fff;
                font-size: clamp(35px, 8vw, 55px);
                // background-color: violet;
                text-align: left;
                margin-top: 0em;
                margin-left: -2px;
            }
            .paragraph {
                width: 100%;
                color: #ccc;
                text-align: left;
                // padding: 0em 1em;
                font-size: 1.1em;
                margin-top: 0.5em;
    
                .typed {
                    color: $aqua
                }
                // background-color: violet;
            }
            .container{
                justify-content: flex-start;
                // padding: 0em 0.7em;
                padding: 0;
                margin: 0;
                margin-top: 2em;
                // background-color: violet;
                .button {
                    
                    margin: 0em;
                    margin-right: 0.7em;
                    width: 100%;
                    max-width: 35%;
                    max-width: 180px;
                    padding: 0.8em;
                }
            } 
        }
        .container-img {
            display: flex;
            width: 45%;
            // background-color: red;
    
            img {
                width: 425px;
                height: 450px;
                margin: 0px auto;
                padding: 0em 1em;
                object-fit: cover;
                object-position: 15px 0px;
                background-image: url("../img/blob-haikei-desktop2.svg");
            }
        }
    }
}

h2 {
    width: 100%;
    font-size: 1.625em;
    padding: 0em 0.5em;
    color: #fff;

    span {
        color: $aqua;
        font-size: 1.325rem;
    }
}

/* [MRF 2022-05-13] about */

section {
    width: 100%;
}

.about {
    // background-color: #151519;
    color: #fff;
    padding: var(--padding-section);
    // overflow-x: hidden;
    margin-top: 1em;

    h2 {
        padding: 0;
        margin: 0;
        margin-bottom: 0.5em;
        color: #fff;
        text-shadow: 0 0 10px $aqua,
                    0 0 20px $aqua,
                    0 0 40px $aqua,
                    0 0 80px $aqua,
                    0 0 120px $aqua;
    }

    .about__first-section {

        .container-description {
            // padding: 0.5em 1em;
            font-size: 0.9em;
            margin-bottom: 3em;

            span {
                color: $aqua;
                font-weight: 700;
            }
        }

        .container-gallery {
            background-color: transparent;
            margin-top: 2em;
            
            .gallery {
                display: flex;
                flex-wrap: wrap;
                justify-content: center;
                // grid-auto-rows: 100px;
                // padding: 1em;
                background-color: #33333380;
                background-color: transparent;
                // box-shadow: 2.5px 2.5px 10px rgba(0, 0, 0, 0.5);
                // margin-left: rem;
                border-radius: 7px;
                width: 100%;
                //max-width: 400px;
                display: grid;
                // grid-template-columns: repeat(auto-fill, minmax(150px, 1fr));
                grid-template-columns: repeat(2, 1fr);
                // grid-auto-rows: minmax(125px, auto);
                grid-gap: 7px;
                justify-content: center;
                margin-top: 1.5em;
                .item-desktop {
                    display: none;
                }

                .gallery__item {
                    width: 100%;
                    height: 140px;
                    font-display: flex;
                    padding: 0.5em;
                    justify-content: center;
                    align-items: center;
                    border-radius: 4px;

                    background: #1d1e22;
                    background-color: #33333380;

                    box-shadow: 20px 20px 50px rgba(0, 0, 0, 0.5);
                    background: rgba(255, 255, 255, 0.1);
                    backdrop-filter: blur(5px);
                            
                    z-index: 1;
                    transition: var(--tran-04);
                    margin: 0px auto;

                    i {
                        font-size: 2em;
                        position: relative;
                        top: -2px;
                        width: 100%;
                        text-align: center;
                    }

                    label {

                        width: 100%;
                        position: relative;
                        top: 0px;
                        font-size: 0.9em;
                        text-align: center;
                    }

                    .gallery__item-container {
                        align-self: flex-start;
                        // background-color: red;
                        height: 100%;
                        display: flex;
                        align-items: center;
                        justify-content: center;
                        flex-wrap: wrap;
                        flex-direction: column;
                        // background-color: red;
                        padding: 0;
                        margin: 0;
                        i{
                            width: 100%;
                            font-size: 3.3rem;
                        }
                        label{
                            // background-color: blue;
                            font-family: 'Source Sans Pro', sans-serif;
                            font-family: 'Poppins',sans-serif;
                            font-size: 0.8em;
                            margin-top: 0.5em;
                        }
                    }

                    .body__item {
                        font-family: 'Source Sans Pro', sans-serif;
                        
                        span{
                            width: 100%;
                            // margin-right:-0.3rem;
                        }
                    }

                    &:hover{
                        transform: translateY(-5px);
                        box-shadow: 0 4px 30px rgb(0 0 0 / 50%);
                        .c-plus {

                            color: #044F88;
                        
                        }
                        .sql{
                            color: #ccc;
                        }
                        .html {
                            
                            color: #E34E26;
                        }
    
                        .css {
                            
                            color: #2162AF;
                        }
    
                        .sass {
                        
                            color: #CD6799;
                            
                        }
    
                        .javascript {
                            
                            color: #F7DF1E;
                            
                        }
    
                        .java {
                            
                            color: #EA2A30;
                            
                        }
    
                        .git {
                            
                            color: #bd2c00;
                            
                        }
    
                        .node {
                            
                            color: #3E863D;
                            
                        }
    
                        .react {
                            
                            color: #53C1DE;
                        }
                    }
                }
            }

            h4 {
                font-size: 0.9em;
                margin-bottom: 2em;

                // padding: 0.5em 1em;
                span {
                    color: $aqua;
                    // font-weight: 700;
                }
            }
        }

        .button-container{

            display: flex;
            justify-content: center;
            margin-top: 4rem;
            a{
                border: none;
                background-color: transparent;
                // text-transform: uppercase;
                color: $aqua;
                text-decoration: none;
                padding: 0.5em;
                // margin: 0em 0.5em;
                border-radius: 5px;
                width: 100%;
                width: auto;
                width: 125px;
                text-align: center;
                transition: var(--tran-04);
                &:hover {
                    background-color: none;
                }
                font-size: 1em;
            }
            i{
                color: $aqua;
                font-size: 2rem;
                text-shadow: 0 0 10px $aqua,
                0 0 20px $aqua,
                0 0 40px $aqua,
                0 0 80px $aqua,
                0 0 120px $aqua;
            }
        }
    }

    @media all and (min-width:1024px)
    {
        max-width: 1024px;
        margin: 0px auto;
        padding: 0;
        padding: var(--padding-section-desktop);
        h2{
            font-size: 2em;
        }
        .about__first-section {
            
            .container-description {
                // padding: 0.5em 1em;
                font-size: 1.125em;
                margin-bottom: 3em;
    
                span {
                    color: $aqua;
                    font-weight: 700;
                }

                .paragraph{
                    max-width: 650px;
                }
            }
            .container-gallery{
                .gallery {
                    grid-template-columns: repeat(3, 1fr);
                    grid-gap: 10px;
                    .gallery__item{
                        height: 150px;
                        .gallery__item-container {
                            
                            i{
                                width: 100%;
                                font-size: 4.3rem;
                            }
                            label{
                        
                                font-size: 1em;
                                margin-top: 0.5em;
                            }
                        }
                    }
                    .item-desktop {
                        display: block;
                    }
                }
                
                h4{
                    font-size: 1.125em;
                }
            }
            .button-container{

                i{
                    font-size: 3rem;
                }
            }
        }
    }
}

/* [MRF 2022-05-13] services */
.experience {

    padding: var(--padding-section);
    
    h2 {
        padding: 0;
        color: #fff;
        margin-bottom: 0.5em;
        text-shadow: 0 0 10px $aqua,
                    0 0 20px $aqua,
                    0 0 40px $aqua,
                    0 0 80px $aqua,
                    0 0 120px $aqua;
    }
    h3{
        font-size: 1.1rem;
        font-family: inherit;
    }
    p{

       color: #fff;
       font-size: 0.9em;
       span{
           color: $aqua;
       }
    }
    ul{
        // background-color: red;
        padding: 0;
        list-style: none;
        width: 100%;
        margin: 2em 0em;
        li{
            width: 100%;
            font-size: 1em;
            color: #fff;
            margin: 0.5em 0em;
            display: flex;
            i{
                color:$aqua;
                // height: 44px;
                padding: 0.25em;
            }
            p{

                width: 100%;
            }
        }
    }
    .button-container{

        display: flex;
        margin-top: 1.5rem;
        a{
            border: 1px solid $aqua;
            background-color: transparent;
            color: $aqua;
            text-decoration: none;
            padding: 0.5em;
            // margin: 0em 0.5em;
            border-radius: 5px;
            width: 100%;
            width: 125px;
            text-align: center;
            transition: var(--tran-04);
            &:hover {
                background-color: rgba(100, 255, 218, 0.1);
            }
        }
    }
    @media all and (min-width:1024px)
    {
        max-width: 700px;
        margin: 0px auto;
        padding: 0;
        padding: var(--padding-section-desktop);
        // background-color: violet;
        h2 {
            font-size: 2em;
        }
        p{
            font-size: 1.125em;
            max-width: 605px;
        }
        ul{
            // background-color: red;
            padding: 0;
            list-style: none;
            width: 100%;
            margin: 2em 0em;
            li{
                width: 100%;
                font-size: 1em;
                color: #fff;
                margin: 1em 0em;
                display: flex;
                i{
                    color:$aqua;
                    // height: 44px;
                    padding: 0.25em;
                }
                p{
    
                    width: 100%;
                    
                }
            }
        }
        .button-container{

            display: flex;
            margin-top: 1.5rem;
            a{
                border: 1px solid $aqua;
                background-color: transparent;
                color: $aqua;
                text-decoration: none;
                padding: 0.8em 2em;
                // margin: 0em 0.5em;
                border-radius: 5px;
                width: 100%;
                width: 180px;
                width: auto;
                text-align: center;
                transition: var(--tran-04);
                &:hover {
                    background-color: rgba(100, 255, 218, 0.1);
                }
            }
        }
    }
}


.work {

    padding: var(--padding-section);

    h2 {
        padding: 0em;
        text-shadow: 0 0 10px $aqua,
                    0 0 20px $aqua,
                    0 0 40px $aqua,
                    0 0 80px $aqua,
                    0 0 120px $aqua;
        margin-bottom:0.5em;
    }

    p {
        color: #fff;
        font-size: 0.9em;
    }

    .first-paragraph{
        font-style: italic;
    }

    hr {

        background-color: #e1147b;
        animation: anim-shadow-reg-pink .3s forwards;
        -webkit-transition-property: box-shadow, transform;
        transition-property: box-shadow, transform;
    }

    .carousel {
        margin: 0.5em 0em;
    }

    .description {
        display: flex;
        justify-content: center;
        flex-wrap: wrap;
        width: 100%;
        padding: 1em 1em 0.7em 1em;
        border-radius: 4px;
        // border: 1px solid $aqua;
        margin-top: 3em;
        background-color: #33333380;
        transition: var(--tran-04);
        &:hover{
            transform: translateY(-5px);
        }
        .description-header {
            width: 100%;
            margin-top: -1.9rem;
            margin-bottom: 1rem;

            i {
                font-size: 2.5em;
                color: $aqua;
                border-radius: 4px;
                background: #0d1126;
                // background: linear-gradient(to bottom, #0d1126 0%, #101010 100%);
                padding: 0.3rem;
            }
        }

        .carousel-footer {
            width: 100%;
            display: flex;
            justify-content: flex-start;
            align-items: center;
            margin-top: 0.8em;
            // background-color: red;

            p {
                align-self: flex-end;
                width: 100%;
                text-align: left;
                margin-top: 0.5em;
            }

            a {
                text-decoration: none;
                color: $aqua;
                font-weight: 700;
                margin-right: 0.7em;
                margin-top: 0.5em;

                i {

                    font-size: 1.5rem;
                    color: $aqua;
                    color: #fff;
                }
            }
        }

        h3 {
            width: 100%;
            font-size: 1em;
            text-align: left;
            color: $aqua;
            font-weight: 700;
        }

        h4 {
            width: 100%;
            font-size: 1.1em;
            text-align: left;
            color: #fff;
            font-weight: 700;

        }

        .technologies {
            display: flex;
            justify-content: flex-start;
            width: 100%;
            height: 23px;
            // margin-top: 0.5em;
            // background-color: blue;

            p {
                color: #fff;
                color: $aqua;
                font-size: 0.9em;
                width: 100%;
                width: auto;
                margin-right: 0.7em;
            }
        }

        p {
            color: #fff;
            font-size: 0.9em;
            width: 100%;
            // background-color: red;
            margin: 0.5em 0em;
        }

        .carousel-inner {
            img {
                width: 100%;
                border-radius: 4px;
                box-shadow: 2.5px 2.5px 10px rgba(0, 0, 0, 0.5);
            }

        }
    }
    @media all and (min-width:1240px)
    {
        padding: 5em 0em 5em 0em;
        max-width: 1024px;
        margin: 0px auto;
        h2{
            font-size: 2em;
        }
        p {
            font-size: 1.125em;
            max-width: 650px;
        }
        .container__cards{
            display: flex;
            .description {
                display: flex;
                justify-content: center;
                flex-wrap: wrap;
                width: 100%;
                max-width: 350px;
                margin-top: 3em;
                margin-right: 1em;

                &:hover{
                    transform: translateY(-5px);
                }
                .description-header {
                    width: 100%;
                    margin-top: -1.9rem;
                    margin-bottom: 1rem;
        
                    i {
                        font-size: 2.5em;
                        color: $aqua;
                        border-radius: 4px;
                        background: #0d1126;
                        // background: linear-gradient(to bottom, #0d1126 0%, #101010 100%);
                        padding: 0.3rem;
                    }
                }
        
                .carousel-footer {
                    width: 100%;
                    display: flex;
                    justify-content: flex-start;
                    align-items: center;
                    margin-top: 0.8em;
        
                    p {
                        align-self: flex-end;
                        width: 100%;
                        text-align: left;
                        margin-top: 0.5em;
                    }
        
                    a {
                        text-decoration: none;
                        color: $aqua;
                        font-weight: 700;
                        margin-right: 0.7em;
                        margin-top: 0.5em;
        
                        i {
        
                            font-size: 1.5rem;
                            color: $aqua;
                            color: #fff;
                        }
                    }
                }
        
                h3 {
                    width: 100%;
                    font-size: 1em;
                    text-align: left;
                    color: $aqua;
                    font-weight: 700;
                    // height: 30px;
                    // background-color: red;
                }
        
                h4 {
                    width: 100%;
                    font-size: 1.1em;
                    text-align: left;
                    color: #fff;
                    font-weight: 700;
                    // background-color: violet;
                    // height: 30px;
        
                }
        
                .technologies {
                    display: flex;
                    justify-content: flex-start;
                    width: 100%;
                    height: 19px;
                    margin: 1em 0em 0em 0em;
        
                    p {
                        color: #fff;
                        color: $aqua;
                        font-size: 0.9em;
                        width: 100%;
                        width: auto;
                        height: auto;
                        margin-right: 0.7em;
                    }
                }
        
                p {
                    color: #fff;
                    font-size: 1em;
                    width: 100%;
                    height: 80px;
                    margin-top: 0.5em;
                    // background-color: blue;
                }
        
                .carousel-inner {
                    img {
                        width: 100%;
                        border-radius: 4px;
                        box-shadow: 2.5px 2.5px 10px rgba(0, 0, 0, 0.5);
                    }
        
                }
            }
        }
        


        .button-container{
            a{
                width: auto;
                padding: 0.8em 2em;
            }
        }

    }
}

/* [MRF 2022-05-13] services */
.services {
    background: #ffffff;
    background: linear-gradient(90deg, #ffffff 0%, #d3d3d3 100%);

    .service-cards {
        img {
            width: 100%;
        }
    }
}

/* [MRF 2022-05-13] contact */
.contact {

    padding: var(--padding-section);

    h2 {
        padding: 0;
        color: $aqua;
        text-align: center;
        font-size: 1.125rem;
        text-shadow: 0 0 10px $aqua,
                    0 0 20px $aqua,
                    0 0 40px $aqua,
                    0 0 80px $aqua,
                    0 0 120px $aqua;

        span {
            font-size: 1.125rem;
        }
    }

    h3 {
        text-align: center;
        color: #fff;
        font-size: clamp(30px, 8vw, 80px);
    }

    p {
        color: #fff;
        text-align: center;
        margin-top: 0.5em;
        font-size: 0.9em;
    }

    .contact-form-container {
        /* background-color: #fff; */
        padding: 1em;
        border-radius: 5px;
        max-width: 375px;
        display: flex;
        justify-content: center;
        flex-wrap: wrap;

        box-shadow: 20px 20px 50px rgba(0, 0, 0, 0.5);
        background: rgba(255, 255, 255, 0.1);
        backdrop-filter: blur(5px);
        margin-top: 2em;

    }

    .contact-form-container img {
        width: 100%;
        height: 250px;
        padding: 1em;
    }

    .contact-form-container input,
    .contact-form-container textarea {
        border-radius: 5px;
        outline: none;
        border: none;
        margin: 0.5em 0em;
        padding: 1em;
        padding: 0.5em;
        border: 1px solid #E4E9F7;
        width: 100%;
        resize: none;
        transition: all 0.3s ease;
        background: transparent;
        background: #0d1126;
        color: #fff;
        font-family: 'Source Sans Pro', sans-serif;
        font-size: 1em;
    }

    .contact-form-container input[type="button"] {

        border: 1px solid $aqua;
        background-color: transparent;
        color: $aqua;
        transition: var(--tran-04);
        &:hover {
            background-color: rgba(100, 255, 218, 0.1);
        }

    }

    .contact-form-container input[type="button"]:hover {
        cursor: pointer;
    }

    .contact-form-container input:focus,
    .contact-form-container textarea:focus {
        border: 1px solid transparent;
        animation: anim-shadow-reg 0.3s forwards;
        -webkit-transition-property: box-shadow, transform;
        transition-property: box-shadow, transform;
    }
    /* [2022-05-03] - 1024 responsive media query */
    @media (min-width: 1024px)
    {   

        padding: var(--padding-section-desktop);

        h2{
            font-size: 2em;
        }

        h3 {
            text-align: center;
            color: #fff;
            font-size: clamp(35px, 8vw, 55px);
        }
    
        p {
            color: #fff;
            text-align: center;
            margin-top: 0.5em;
            font-size: 1.125em;
        }
    
        .contact-form-container {
            
            max-width: 1024px;
            margin: 0px auto;
            flex-wrap: nowrap;
            margin-top: 2em;
        }

        .contact-form-container img{
            width: 50%;
            height: 350px;
            height: auto;
            padding: 1em;
            // background-color: red;
            // margin-top: 1em;
            // align-self: center;
        }

        .contact-form-container .contact-form{

            display: flex;
            align-items: center;
        }

        .contact-form-container input,
        .contact-form-container textarea{
            border-radius: 5px;
            outline: none;
            border: none;
            margin: 0.5em 0em;
            padding: 1em;
            border: 1px solid #E4E9F7;
            width: 100%;
            width: 100%;
            resize: none;
            font-size: 0.9em;
        }

        .contact-form-container .email-sent{
            width: 100%;
            height: 255px;
            padding: 1em;
        }

        .success{
            max-width: 450px;
        }

        p{
            max-width: 450px;
            margin: 0px auto;
        }
    }

}


footer {

    // background-color: #252525;
    padding: 4em 0em 1em 0em;
    height: auto;

    h2 {
        padding: 0;
        font-family: 'Roboto', sans-serif;
        color: $aqua;

        font-size: 17px;
        text-shadow: 0 0 10px $aqua,
                    0 0 20px $aqua,
                    0 0 40px $aqua,
                    0 0 80px $aqua,
                    0 0 120px $aqua;
    }

    .link-footer-section {
        display: flex;
        width: 100%;
        flex-wrap: wrap;
        padding: 1em 0.7em;
        justify-content: space-between;
        margin: 0.5em 0em;
        // background-color: red;

        a {
            width: 20%;
            text-decoration: none;
            color: #777777;
            text-align: center;
            font-family: 'Source Sans Pro', sans-serif;
        }
    }

    hr {

        height: 1px;
        border-color: #777777;
    }

    ul {
        display: flex;
        width: 100%;
        height: auto;
        align-items: center;
        padding: 0.5em 1.5em;
        justify-content: center;
        max-width: 275px;
        margin: 0em auto;
        // background-color: red;

        li {
            list-style: none;
            margin: 0px 5px;

            a {
                i {
                    font-size: 1.5rem;
                    color: $aqua;
                    color: #ccc;
                    color: #777777;
                    border-radius: 50%;
                    background-color: #33333380;
                    padding: 0.4em;
                }
            }
        }
    }

    label {
        display: flex;
        color: $aqua;
        color: #777777;
        text-align: center;
        justify-content: center;
        width: 100%;
        font-size: 1em;
        padding: 1em;
        font-family: 'Poppins', sans-serif;

        a {
            text-decoration: none;
            color: $aqua;
        }
    }

    @media all and (min-width:1240px)
    {
        // background-color: red;
        .link-footer-section{

            max-width: 1024px;
            margin: 0px auto;
            padding: 2.5em 4.5em;
            justify-content: space-between;
            
            a{  
                width: auto;
                font-size: 1.1em;
                transition: var(--transition);
                &:hover{
                    color: $aqua;
                }
            }
        }
        hr {
            max-width: 1024px;
            margin: 0px auto;
            height: 1px;
            border-color: #777777;
        }
        ul {
            // background-color: red;
            justify-content: center;
            max-width: 500px;
            li {
                list-style: none;
                margin: 0px 15px;
                a {
                    i {
                        font-size: 1.7rem;
                    }
                }
            }
        }
        label {
            display: flex;
            justify-content: center;
            font-size: 1.125em;
            padding: 2.5em 1.5em;
    
            a {
                text-decoration: none;
                color: $aqua;
            }
        }
    }
}