/* Start [2021-03-10] - Mobile version */


/* Start [2021-03-24] imports */

@import "color";
@import "mixins";
@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@300;500&display=swap");

/* End   [2021-03-24] imports */


/* Start [2021-03-10] - ROOT */

:root {
    --body-background-color: radial-gradient(ellipse at bottom, #1b2735 0%, #090a0f 100%);
    --transition: transform 0.25s cubic-bezier(0.645, 0.045, 0.355, 1);
    --white: #fff;
}


/* End   [2021-03-10] - ROOT */

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: $dark-blue;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    background-position: center center;
    background-repeat: no-repeat;
    overflow-x: hidden;
    min-height: 100%;
}


/* Start [2021-03-10] - Titles styles  */

h1,
h2 {
    width: 100%;
    font-family: 'Nunito Sans', sans-serif;
    font-weight: 600;
    text-align: center;
}

h1 {
    color: #fff;
}

h2 {
    font-size: 35px;
    text-decoration: none;
    font-weight: normal;
    -webkit-text-stroke: 1px $yellow;
    -webkit-text-fill-color: transparent;
    animation: glow-title-yellow 2s ease-in-out infinite alternate;
    font-family: 'Raleway', sans-serif;
    margin-bottom: 0rem;
    padding: 0;
}

h3 {
    color: $aqua;
}

h1,
h2,
h3 {
    padding: 10px;
}

a {
    text-decoration-skip-ink: auto;
    text-decoration: none;
    font-family: 'Raleway', sans-serif;
    font-size: 2.7rem;
    color: $aqua;
}

p {
    text-align: center;
}

textarea {
    resize: none;
}

.big__heading {
    font-size: clamp(40px, 8vw, 80px);
    text-align: center;
}


/* End   [2021-03-10] - Titles styles  */


/* Start [2021-03-10] - Animations */


/*aqua*/

@keyframes glow-title {
    from {
        text-shadow: 0 0 10px $aqua, 0 0 20px $aqua;
    }
    to {
        text-shadow: 0 0 20px $aqua;
    }
}

@keyframes anim-shadow-reg {
    100% {
        box-shadow: 0px 0px 1px 1px $aqua;
    }
}

@keyframes hard-anim-shadow-reg {
    100% {
        box-shadow: 0px 0px 10px 1px $aqua;
    }
}


/*pink*/

@keyframes glow-title-pink {
    from {
        text-shadow: 0 0 10px $pink, 0 0 20px $pink;
    }
    to {
        text-shadow: 0 0 20px $pink;
    }
}

@keyframes anim-shadow-reg-pink {
    100% {
        box-shadow: 0px 0px 10px 1px $hard-pink;
    }
}


/*yellow*/

@keyframes glow-title-yellow {
    from {
        text-shadow: 0 0 10px $yellow, 0 0 20px $yellow;
    }
    to {
        text-shadow: 0 0 20px $yellow;
    }
}

@keyframes anim-shadow-reg-yellow {
    100% {
        box-shadow: 0px 0px 10px 1px $yellow;
    }
}


/* End   [2021-03-10] - Animations */


/* Start Header */

.hamburguer-container {
    width: 50px;
    height: 50px;
    border-radius: 5px;
    font-size: 30px;
    text-decoration: none;
    &:hover {
        cursor: pointer;
    }
}

.menu__hamburguer {
    position: relative;
    border-radius: 5px;
    top: 25px;
    left: 10px;
    width: 30px;
    height: 2px;
    display: block;
    transform-origin: center;
    transition: .5s ease-in-out;
}

.menu__hamburguer::after,
.menu__hamburguer::before {
    background-color: $pink;
    content: '';
    display: block;
    transition: .5s ease-in-out;
    position: absolute;
    width: 100%;
    height: 100%;
}

.menu__hamburguer::after {
    bottom: -5px;
}

.menu__hamburguer::before {
    top: -5px;
}

.header__menu {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
    padding: 2.5rem 2.5rem;
    left: 0;
    top: 0;
    right: 0;
    z-index: 10;
    p {
        background-color: #47c9a2;
    }
}

.header ul.show {
    display: block;
}

.header {
    position: relative;
    width: 100%;
    left: 0;
    top: 0;
    right: 0;
    z-index: 10;
    ul {
        display: none;
        li {
            display: block;
            text-align: center;
            a {
                display: inline-block;
                padding: 0.5rem 0rem;
                transition: all 0.4s linear;
                font-size: 1.2rem;
                color: #fff;
                text-decoration: none;
                font-family: 'Raleway', sans-serif;
                margin: 0px 5px;
                width: auto;
                transition: 0.5s linear;
            }
        }
    }
}

// on hover links //
@for $i from 0 through 5 {
    .links__#{$i}:hover {
        color: $aqua;
        opacity: 1;
    }
}

.logo-main {
    font-size: 30px;
    text-decoration: none;
    font-weight: normal;
    -webkit-text-stroke: 1px $pink;
    -webkit-text-fill-color: transparent;
    animation: glow-title-pink 2s ease-in-out infinite alternate;
    font-family: 'Raleway', sans-serif;
}


/*End Header*/


/*Presentation Section*/

.item__span {
    font-family: 'Raleway', sans-serif;
    color: $aqua;
}

.navigation__span {
    @extend .item__span;
}

.presentation__hi {
    @extend .item__span;
    font-size: 1.5rem;
    padding: 5px;
}

.paragraph {
    color: $sub-title-color;
    color: #fff;
    font-family: sans-serif;
    padding: 1rem 0rem;
    font-size: 1.2rem;
    padding: 10px;
    width: 100%;
    margin-top: 1.5rem;
}


/* Start M icon */

.container__logo {
    height: 10px;
    position: relative;
    padding: .7em;
    text-align: center;
    z-index: 1;
    margin-top: -2rem;
    box-shadow: 0px 0px 15px 0 rgba(0, 0, 0, 0.1);
}

.container__logo::before,
.container__logo::after {
    content: '';
}

.container__logo::before,
.container__logo::after {
    top: 0%;
    left: 0%;
    width: 100%;
    height: 300%;
    display: block;
    position: absolute;
    -webkit-clip-path: polygon(50% 0%, 100% 25%, 100% 75%, 50% 100%, 0% 75%, 0% 25%);
    clip-path: polygon(50% 0%, 100% 25%, 100% 75%, 50% 100%, 0% 75%, 0% 25%);
    z-index: -1;
}

.container__logo::before {
    background: #fff;
    background: $pink;
    transform: scale(1.1);
}

.container__logo::after {
    background-color: $dark-blue;
    @debug $dark-blue; // Debug para ver lo que contiene la variable
    @debug type-of($value: $dark-blue); // Debug para ver que tipo de variable es
    transition: opacity 350ms;
    -webkit-transition: opacity 350ms;
}


/* End M icon */


/* Start - characteristics of the sections in general*/

section {
    display: flex;
    flex-wrap: wrap;
    width: 100vw;
    padding: 0rem 0rem;
    justify-content: center;
    align-items: center;
}

.presentation {
    display: flex;
    width: 100%;
    height: 90vh;
    padding-top: 2rem;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    /*b.5rem;ackground-color: rgba(255, 255, 255, 0.5);
    border-radius: 5px;s
    box-shadow: 0 15px 35px rgba(255, 255, 255, 0.05);*/
    background: linear-gradient(to top, transparent, black);
    .presentation__main {
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        max-width: 700px;
    }
    .redes-container {
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        width: 5%;
        display: none;
    }
    .presentation__menu {
        display: none;
    }
    a {
        font-size: 1.5rem;
    }
}

.menu__1 {
    -webkit-text-fill-color: $aqua;
    animation: glow-title 1.5s ease-in-out infinite alternate;
}

.paragraph br {
    display: none;
}


/* Start - characteristics of the sections in general*/


/* Start about me */

.about {
    background: linear-gradient(to top, transparent, black);
}

.about__first-section {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.about__description {
    border-radius: 5px;
}

.skills {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    width: 100%;
    border-radius: 5px;
    div {
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        width: 100%;
    }
}


/* Start [2021-03-10] - Grid galery */

.galery {
    display: grid;
    width: 85%;
    grid-template-columns: repeat(auto-fill, minmax(90px, 1fr));
    grid-auto-rows: 100px;
    /* grid-column-gap: 10px;
    grid-row-gap: 45px;*/
    grid-gap: 10px;
    padding: 2rem;
    background-color: #cdcdcd;
    background-color: #1e1f22;
}

.galery__item {
    font-display: flex;
    padding: 10px;
    justify-content: center;
    align-items: center;
    border-radius: 2px;
    background-color: transparent;
    animation: anim-shadow-reg .3s forwards;
    -webkit-transition-property: box-shadow, transform;
    transition-property: box-shadow, transform;
}

.galery__item:nth-child(4) {
    grid-column-start: span 2;
}

.galery__item:nth-child(7) {
    grid-column-start: span 2;
}

.galery__item img {
    width: 100%;
    height: 100%;
    transition: all 0.2s ease;
}


/* End   [2021-03-10] - Grid galery */

.galery__item p {
    margin-top: 10px;
    animation: glow-title 2s ease-in-out infinite alternate;
    font-family: 'Raleway', sans-serif;
    color: #fff
}


/* End about me */


/* Start list styles */

.list__item {
    color: #cdcdcd;
    list-style: none;
    border-radius: 5px;
    margin: 12px;
    text-align: left;
    i {
        color: $aqua;
    }
}

.skills__list-item {
    @extend .list__item;
}

.experience__list-item {
    @extend .list__item;
}

#aboutMeDescription div:nth-child(2) {
    width: 50%;
}

#aboutMeDescription div:last-child {
    width: 50%;
}

#aboutMeDescription div {
    padding: 10px;
}

#aboutMeDescription p {
    text-align: justify;
    text-justify: inter-word;
}


/* End list styles */


/*Start proyects img*/

.work__proyect-img {
    width: 100%
}


/*End proyects img*/


/*start Button*/

.button {
    @include button;
}

.btn-close {
    padding: 1rem;
    border: 1px solid #ccc;
}

.button--form {
    @extend .button;
    width: 169px;
    margin-top: 0rem;
    padding: 5px;
    font-size: 1.2rem;
}

.button--form:active {
    @include animation-call;
}

.button--form:focus {
    @include animation-call;
}


/*End Button*/


/* Start [2021-03-18] - Modal Get in touch index */

.modal-header {
    background-color: #64ffda;
    border: none
}

.button--mod {
    @extend .button;
    width: 48%;
    margin: 0px auto 10px auto;
    margin-top: 0rem;
    padding: 10px;
    font-size: 1.2rem;
}

.mod:active {
    @include animation-call;
}

.mod:focus {
    @include animation-call;
}

.modal-body,
.modal-footer,
.form-control {
    background-color: $dark-blue;
    background-color: transparent;
    border: none;
    color: #fff
}

.form-control {
    border: 1px solid #64ffda;
}

.form-control:focus {
    background-color: $dark-blue;
    background-color: transparent;
    @include animation-call;
    color: #fff
}

.form-control:active {
    background-color: $dark-blue;
    background-color: transparent;
    @include animation-call;
    color: #fff
}


/* [2021-03-19] - modal confirm */

.modal-confirm {
    color: #434e65;
    width: 525px;
}

.modal-confirm .modal-content {
    padding: 20px;
    font-size: 16px;
    border-radius: 5px;
    border: none;
}

.modal-confirm .modal-header {
    background: #47c9a2;
    border-bottom: none;
    position: relative;
    text-align: center;
    margin: -20px -20px 0;
    border-radius: 5px 5px 0 0;
    padding: 35px;
}

.modal-confirm h4 {
    text-align: center;
    font-size: 36px;
    margin: 10px 0;
}

.modal-confirm .form-control,
.modal-confirm .btn {
    min-height: 40px;
    border-radius: 3px;
}

.modal-confirm .close {
    position: absolute;
    top: 15px;
    right: 15px;
    color: #fff;
    text-shadow: none;
    opacity: 0.5;
}

.modal-confirm .close:hover {
    opacity: 0.8;
}

.modal-confirm .icon-box {
    color: #fff;
    width: 95px;
    height: 95px;
    display: inline-block;
    border-radius: 50%;
    z-index: 9;
    border: 5px solid #fff;
    padding: 15px;
    text-align: center;
}

.modal-confirm .icon-box i {
    font-size: 64px;
    margin: -4px 0 0 -4px;
}

.modal-confirm.modal-dialog {
    margin-top: 80px;
}

.modal-confirm .btn,
.modal-confirm .btn:active {
    color: #fff;
    border-radius: 4px;
    background: #eeb711 !important;
    text-decoration: none;
    transition: all 0.4s;
    line-height: normal;
    border-radius: 30px;
    margin-top: 10px;
    padding: 6px 20px;
    border: none;
}

.modal-confirm .btn:hover,
.modal-confirm .btn:focus {
    background: #eda645 !important;
    outline: none;
}

.modal-confirm .btn span {
    margin: 1px 3px 0;
    float: left;
}

.modal-confirm .btn i {
    margin-left: 1px;
    font-size: 20px;
    float: right;
}

.trigger-btn {
    display: inline-block;
    margin: 100px auto;
}


/* End   [2021-03-18] - Modal Get in touch index */


/* Start [2021-03-16] - form */

.formLabel {
    color: $sub-title-color;
}


/* End   [2021-03-16] - form */


/*Start Footer*/

footer {
    position: relative;
    bottom: 0;
    width: 100%;
    height: 40px;
    text-align: center;
    ul {
        width: 100%;
        list-style: none;
        display: flex;
        justify-content: center;
        li {
            padding: 5px;
            margin: 0px auto;
        }
    }
}


/*End Footer*/


/* Start [2021-03-05] - Experience */

.experience {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    width: 100vw;
    height: 100vh;
    background: linear-gradient(to top, transparent, black);
    div {
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        align-items: center;
        width: 100%;
        p {
            margin-top: 3rem;
        }
        ul {
            margin-bottom: 10rem;
        }
    }
    h2 {
        text-align: center;
    }
    footer {
        margin-top: 15rem;
    }
}


/* End   [2021-03-05] - Experience */


/* Start [2021-03-05] - work */

.work {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    width: 100vw;
    height: 100%;
    background: linear-gradient(to top, transparent, black);
    div {
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        width: 100%;
        img {
            max-width: 700px;
            max-height: 500px;
        }
    }
    h2,
    h3 {
        text-align: center;
        width: 100%;
    }
    footer {
        margin-top: 3rem;
    }
}


/* End   [2021-03-05] - work */


/* Start [2021-03-05] - Contact */

.contact {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    width: 100vw;
    height: 100vh;
    background: linear-gradient(to top, transparent, black);
    h2,
    h3 {
        text-align: center;
    }
    footer {
        margin-top: 5rem;
    }
}


/* End   [2021-03-05] - Contact */


/* End   [2021-03-10] - Mobile version */

@media only screen and (max-width: 768px) {
    .mod {
        width: 45%;
        padding: 5px;
    }
}


/* Start [2021-03-10] - Responsive 768px - TABLET */

@media only screen and (min-width: 768px) {
    .paragraph br {
        display: block;
    }
}


/* End   [2021-03-10] - Responsive 768px */


/* Start [2021-03-10] - Responsive 1024px - DESKTOP */

@media only screen and (min-width: 1024px) {
    /*
    .header span i {
        display: none;
    }*/
    .header {
        top: 0rem;
        padding: 1rem 1rem;
        background: linear-gradient(to bottom, transparent, black);
        span {
            i {
                font-size: 20px;
                text-align: center;
                padding: 7px;
                margin-top: 7px;
                color: #fff;
                border-radius: 50%;
                transition: all 0.6s ease;
                &:hover {
                    cursor: pointer;
                    -webkit-text-fill-color: $aqua;
                    animation: glow-title 2s ease-in-out infinite alternate;
                }
            }
        }
        ul {
            display: flex;
            justify-content: center;
            margin: 0;
            padding: 0;
            list-style: none;
            width: 100%;
            li {
                display: inline-block;
                a {
                    padding: 0.5rem 1rem;
                    transition: all 0.4s linear;
                }
            }
        }
    }
    /*link 0*/
    .links__0::before {
        content: '';
        height: 2px;
        width: 0px;
        background-color: $aqua;
        border-radius: 10px;
        position: absolute;
        bottom: 12px;
        transition: .3s;
    }
    .links__0:hover::before {
        width: 6.1%;
    }
    /*link 1*/
    .links__1::before {
        content: '';
        height: 2px;
        width: 0px;
        background-color: $aqua;
        border-radius: 10px;
        position: absolute;
        bottom: 12px;
        transition: .3s;
    }
    .links__1:hover::before {
        width: 6.25%;
    }
    /*link 2*/
    .links__2::before {
        content: '';
        height: 2px;
        width: 0px;
        background-color: $aqua;
        border-radius: 10px;
        position: absolute;
        bottom: 12px;
        transition: .3s;
    }
    .links__2:hover::before {
        width: 9.5%;
    }
    /*link 3*/
    .links__3::before {
        content: '';
        height: 2px;
        width: 0px;
        background-color: $aqua;
        border-radius: 10px;
        position: absolute;
        bottom: 12px;
        transition: .3s;
    }
    .links__3:hover::before {
        width: 5.7%;
    }
    /*link 4*/
    .links__4::before {
        content: '';
        height: 2px;
        width: 0px;
        background-color: $aqua;
        border-radius: 10px;
        position: absolute;
        bottom: 12px;
        transition: .3s;
    }
    .links__4:hover::before {
        width: 7.3%;
    }
    .header ul.show {
        display: none;
    }
    .container__logo {
        margin-top: -1.8rem;
    }
    .paragraph {
        font-size: 1.4rem;
    }
    .big__heading {
        font-size: clamp(40px, 8vw, 55px);
    }
    .button {
        padding: 10px;
    }
    .get-in-touch {
        font-size: 2rem;
    }
    /*Start home*/
    .presentation {
        height: 85vh;
        .presentation__story {
            position: absolute;
            display: flex;
            justify-content: center;
            align-items: center;
            width: 550px;
            height: 400px;
            top: 10rem;
            left: 0em;
            padding-left: 10rem;
            padding-bottom: 6rem;
            img {
                width: 100px;
                height: 150px;
            }
            .story {
                width: 275px;
                height: 100px;
                background-color: #ddd;
                border-radius: 5px;
            }
        }
        .presentation__wolf {
            display: flex;
            flex-wrap: wrap;
            justify-content: center;
            background-color: #e3e3d0;
            border-radius: 50%;
            width: 325px;
            height: 325px;
            border: 1px solid #ccc;
            box-shadow: 0px 0px 10px 3px #e3e3d0;
            margin-top: 1rem;
            img:last-child {
                width: 425px;
                height: 325px;
            }
            .lentes {
                position: absolute;
                width: 115px;
                height: 90px;
                top: -10.7rem;
                left: -17em;
                right: 0;
                bottom: 0;
                margin: auto;
                opacity: 0;
                transform: translateY(-100px);
                transition: transform 2s ease;
            }
        }
        h2 {
            font-size: 40px;
            margin-bottom: 1rem;
            text-decoration: none;
            font-weight: normal;
            -webkit-text-stroke: 1px $aqua;
            -webkit-text-fill-color: transparent;
            animation: glow-title 2s ease-in-out infinite alternate;
        }
        .get-in-touch {
            font-size: 2rem;
        }
        .redes-container {
            display: block;
            ul {
                list-style: none;
                padding-top: 1.7rem;
                li {
                    a {
                        font-size: 2.5rem;
                        &:hover {
                            -webkit-text-fill-color: $aqua;
                            animation: glow-title 1.5s ease-in-out infinite alternate;
                        }
                        i {
                            transition: var(--transition);
                            &:hover {
                                transform: translateY(-5px);
                            }
                        }
                    }
                }
            }
        }
        .presentation__menu {
            display: flex;
            flex-wrap: wrap;
            margin-top: -2rem;
            width: 5%;
            height: 300px;
            font-weight: bold;
            align-items: center;
            justify-content: center;
            div {
                transform: rotate(-90deg);
                transition: all 0.2s ease;
                font-size: 30px;
                padding-bottom: 10px;
                text-decoration: none;
                font-weight: normal;
                -webkit-text-stroke: 1px $aqua;
                -webkit-text-fill-color: transparent;
                line-height: 75px;
                a {
                    transition: var(--transition);
                    font-size: 20px;
                    &:hover {
                        -webkit-text-fill-color: $aqua;
                        animation: glow-title 1.5s ease-in-out infinite alternate;
                        cursor: pointer;
                        transform: translateY(5px);
                    }
                }
            }
        }
        footer {
            margin-top: 2rem;
            ul {
                width: 185px;
                margin: 0px auto;
                li {
                    display: flex;
                    justify-content: center;
                    margin: 0px 5px;
                    a {
                        font-size: 2.2rem;
                        &:hover {
                            -webkit-text-fill-color: $aqua;
                            animation: glow-title 1.5s ease-in-out infinite alternate;
                            cursor: pointer;
                            -webkit-text-stroke: 1px $aqua;
                        }
                    }
                }
                li:last-child {
                    margin-right: 2.1rem;
                }
            }
        }
    }
    /*End home*/
    .typed {
        color: $aqua;
        text-align: center;
        font-size: 1.5rem;
        i {
            font-family: 'Raleway', sans-serif;
        }
    }
    .git::before {
        content: '';
        display: block;
        position: absolute;
        width: 200px;
        height: 1px;
        background-color: $aqua;
        top: 1.2rem;
        left: 0;
        right: 29em;
        bottom: 0;
        margin: auto;
    }
    .cod::after {
        content: '';
        display: block;
        position: absolute;
        width: 200px;
        height: 1px;
        background-color: $aqua;
        top: 1.2rem;
        left: 0;
        right: -29.5em;
        bottom: 0;
        margin: auto;
    }
    /*about section*/
    .about {
        .about__first-section {
            display: flex;
            flex-wrap: wrap;
            justify-content: center;
            width: 100%;
            margin-top: 1rem;
        }
        .about__description {
            width: 100%;
            padding: 0rem 0rem;
            .container-description {
                width: 50%;
                height: 100%;
                margin: 0px auto;
                padding: 0px 20px;
                margin-bottom: 10rem;
                margin-top: 4rem;
            }
        }
        .about-me {
            margin-top: 3rem;
            border-radius: 5px;
            width: 57%;
            border: 1px solid $aqua;
            padding: 0rem 2rem;
            color: #fff
        }
        .about-me__things {
            font-family: 'Raleway', sans-serif;
        }
        /*aboutme more*/
        .container {
            min-height: 100vh;
            width: 57%;
            display: flex;
            align-items: center;
            justify-content: center;
            padding: 100px 0;
            background-color: transparent;
        }
        .line {
            width: 90%;
            height: auto;
            max-width: 800px;
            margin: 0 auto;
            position: relative;
        }
        .line ul {
            list-style: none;
        }
        .line ul li {
            padding: 5px;
            background-color: #1e1f22;
            color: white;
            border-radius: 10px;
            margin-bottom: 10px;
        }
        .line ul li:last-child {
            margin-bottom: 0;
        }
        .line-content h1 {
            font-weight: 500;
            font-size: 25px;
            line-height: 30px;
            margin-bottom: 10px;
        }
        .line-content p {
            font-size: 16px;
            line-height: 30px;
            font-weight: 300;
        }
        .line-content .date {
            font-size: 12px;
            font-weight: 300;
            margin-bottom: 10px;
            letter-spacing: 2px;
        }
        .line:before {
            content: "";
            position: absolute;
            top: 0;
            left: 52.3%;
            transform: translateX(-50%);
            width: 2px;
            height: 100%;
            background-color: gray;
        }
        .line ul li {
            width: 50%;
            position: relative;
            margin-bottom: 50px;
        }
        .line ul li:nth-child(odd) {
            float: left;
            clear: right;
            transform: translateX(-30px);
            border-radius: 20px 0px 20px 20px;
        }
        .line ul li:nth-child(even) {
            float: right;
            clear: left;
            transform: translateX(30px);
            border-radius: 0px 20px 20px 20px;
        }
        .line ul li::before {
            content: "";
            position: absolute;
            height: 20px;
            width: 20px;
            border-radius: 50%;
            background-color: gray;
            top: 0px;
        }
        .line ul li:nth-child(odd)::before {
            transform: translate(50%, -50%);
            right: -30px;
        }
        .line ul li:nth-child(even)::before {
            transform: translate(-50%, -50%);
            left: -30px;
        }
        .line-content .date {
            position: absolute;
            top: -30px;
            left: 0px;
        }
        .line ul li:hover::before {
            background-color: aqua;
        }
        footer {
            margin-top: 2rem;
            ul {
                width: 185px;
                margin: 0px auto;
                li {
                    display: flex;
                    justify-content: center;
                    margin: 0px 5px;
                    a {
                        font-size: 2.2rem;
                        &:hover {
                            -webkit-text-fill-color: $aqua;
                            animation: glow-title 1.5s ease-in-out infinite alternate;
                            cursor: pointer;
                            -webkit-text-stroke: 1px $aqua;
                        }
                    }
                }
                li:last-child {
                    margin-right: 2.1rem;
                }
            }
        }
    }
    .container-galery {
        width: 100%;
        background-color: #1e1f22;
        padding: 2rem 0rem 5rem 0rem;
        h4 {
            text-align: center;
            padding-bottom: 20px;
            color: $aqua;
            font-family: 'Nunito Sans', sans-serif;
        }
    }
    .galery {
        width: 29%;
        margin: 0px auto;
    }
}

.presentation__wolf::after {
    content: 'Mauricio Fernandez';
    display: block;
    transition: .5s ease-in-out;
    position: absolute;
    width: 550px;
    height: 85px;
    margin-top: 4rem;
    margin-left: 35rem;
    font-size: clamp(50px, 10vw, 60px);
    color: #fff;
    font-family: 'Nunito Sans', sans-serif;
    font-weight: 700;
    text-align: right;
}

.presentation__wolf::before {
    content: 'Hi, my name is';
    display: block;
    transition: .5s ease-in-out;
    position: absolute;
    width: 250px;
    height: 50px;
    margin-top: 1.7rem;
    margin-left: 35rem;
    font-family: 'Raleway', sans-serif;
    color: $aqua;
    text-align: center;
    font-size: 1.5rem;
    padding: 5px;
}


/* End   [2021-03-10] - Responsive 1024px - DESKTOP */

.loading-screen {
    position: absolute;
    width: 100%;
    height: 100vh;
    background: #000;
    z-index: 100;
}


/* menu html*/

.menu {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    width: 100vw;
    height: 100%;
    padding: 0rem;
    h2 {
        font-size: 35px;
        text-decoration: none;
        font-weight: normal;
        -webkit-text-stroke: 1px $yellow;
        -webkit-text-fill-color: transparent;
        animation: glow-title-yellow 2s ease-in-out infinite alternate;
        font-family: 'Raleway', sans-serif;
        margin-bottom: 0rem;
        padding: 0;
    }
}

.links__li {
    display: flex;
    flex-wrap: wrap;
    margin: 0rem;
    font-size: 22px;
    text-decoration: none;
    font-weight: normal;
    -webkit-text-stroke: 1px $aqua;
    //animation: glow-title 2s ease-in-out infinite alternate;
    -webkit-text-fill-color: transparent;
    font-family: 'Raleway', sans-serif;
}

@for $i from 0 through 5 {
    .smenu__#{$i} {
        opacity: 0;
        transform: rotate(-90deg);
        -webkit-text-fill-color: $aqua;
        animation: glow-title 2s ease-in-out infinite alternate;
        transition: all 0.2s ease;
    }
}

@for $i from 0 through 5 {
    .smenu__#{$i}:hover {
        cursor: pointer;
    }
}


/*Map*/

$icons:(github,
discord,
linkedin,
codepen);

/*Each*/

@each $social in $icons {
    .#{$social} {
        font-size: 35px;
        text-decoration: none;
        font-weight: normal;
        -webkit-text-stroke: 1px $aqua;
        -webkit-text-fill-color: transparent;
    }
}


/*404 PAGE*/

.error404 {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    width: 100vw;
    height: 100vh;
    img {
        margin-top: 2rem;
        max-width: 450px;
        max-height: 250px;
    }
    h2 {
        position: absolute;
        top: 8.5rem;
        left: 0;
        right: 0;
        bottom: 0;
        margin: auto;
    }
    footer {
        margin-top: 15rem;
    }
}

.close {
    color: #000;
    border-radius: 50%;
    padding: 10px 15px;
    border: 1px solid #000;
    background-color: #fff;
}