/* Start [2021-03-10] - Mobile version */


/* Start [2021-03-24] imports */

@import "color";
@import "mixins";

/* End   [2021-03-24] imports */


/* Start [2021-03-10] - ROOT */

:root {
    --body-background-color: radial-gradient(ellipse at bottom, #1b2735 0%, #090a0f 100%);
    --transition: transform 0.25s cubic-bezier(0.645, 0.045, 0.355, 1);
}


/* End   [2021-03-10] - ROOT */

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: var(--body-background-color);
    background-color: $dark-blue;
    background-image: url("../img/retrowave.jpg");
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    background-position: center center;
    background-repeat: no-repeat;
    background-attachment: fixed;
    overflow-x: hidden;
}


/* Start [2021-03-10] - Titles styles  */

h1,
h2 {
    width: 100%;
    font-family: 'Nunito Sans', sans-serif;
    font-weight: 700;
    text-align: center;
}

h1 {
    color: #fff;
}

h2 {
    font-size: 35px;
    text-decoration: none;
    font-weight: normal;
    -webkit-text-stroke: 1px $yellow;
    -webkit-text-fill-color: transparent;
    animation: glow-title-yellow 2s ease-in-out infinite alternate;
    font-family: 'Raleway', sans-serif;
    margin-bottom: 0rem;
    padding: 0;
}

h3 {
    color: $aqua;
}

h1,
h2,
h3 {
    padding: 10px;
}

a {
    text-decoration-skip-ink: auto;
    text-decoration: none;
    font-family: 'Raleway', sans-serif;
    font-size: 2.7rem;
    color: $aqua;
}

p {
    text-align: center;
}

textarea {
    resize: none;
}

.big__heading {
    font-size: clamp(40px, 8vw, 80px);
    text-align: center;
}


/* End   [2021-03-10] - Titles styles  */


/* Start [2021-03-10] - Animations */


/*aqua*/

@keyframes glow-title {
    from {
        text-shadow: 0 0 10px $aqua, 0 0 20px $aqua;
    }
    to {
        text-shadow: 0 0 20px $aqua;
    }
}

@keyframes anim-shadow-reg {
    100% {
        box-shadow: 0px 0px 1px 1px $aqua;
    }
}

@keyframes hard-anim-shadow-reg {
    100% {
        box-shadow: 0px 0px 10px 1px $aqua;
    }
}


/*pink*/

@keyframes glow-title-pink {
    from {
        text-shadow: 0 0 10px $pink, 0 0 20px $pink;
    }
    to {
        text-shadow: 0 0 20px $pink;
    }
}

@keyframes anim-shadow-reg-pink {
    100% {
        box-shadow: 0px 0px 10px 1px $hard-pink;
    }
}


/*yellow*/

@keyframes glow-title-yellow {
    from {
        text-shadow: 0 0 10px $yellow, 0 0 20px $yellow;
    }
    to {
        text-shadow: 0 0 20px $yellow;
    }
}

@keyframes anim-shadow-reg-yellow {
    100% {
        box-shadow: 0px 0px 10px 1px $yellow;
    }
}


/* End   [2021-03-10] - Animations */


/* Start Header */

.container {
    width: 100%;
}

.header {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
    padding: 2.5rem 2.5rem;
    left: 0;
    top: 0;
    right: 0;
    z-index: 10;
}

.header {
    span {
        i {
            font-size: 2rem;
            color: $aqua;
            cursor: pointer;
            padding: 0.5rem 1rem;
            background: transparent;
            border-radius: 5px;
            border: 1px solid $aqua;
        }
    }
}

.header div nav a {
    font-size: 1.1rem;
    color: #fff;
    text-decoration: none;
    font-family: 'Raleway', sans-serif;
}

.navigation ul.show {
    display: block;
}

.navigation {
    width: 100%;
    margin-top: 1.5rem;
    ul {
        display: none;
        li {
            display: block;
            text-align: center;
            a {
                display: inline-block;
                padding: 0.5rem 0rem;
                transition: all 0.4s linear;
                padding: 20px;
                margin-bottom: 2rem;
            }
        }
    }
}

// on hover links //
@for $i from 0 through 5 {
    .links__#{$i}:hover {
        color: $aqua;
        opacity: 1;
    }
}

.logo-main {
    font-size: 30px;
    text-decoration: none;
    font-weight: normal;
    -webkit-text-stroke: 1px $pink;
    -webkit-text-fill-color: transparent;
    animation: glow-title-pink 2s ease-in-out infinite alternate;
    font-family: 'Raleway', sans-serif;
}


/*End Header*/


/*Presentation Section*/

.item__span {
    font-family: 'Raleway', sans-serif;
    color: $aqua;
}

.navigation__span {
    @extend .item__span;
}

.presentation__hi {
    @extend .item__span;
    font-size: 1.5rem;
    padding: 5px;
}

.paragraph {
    color: $sub-title-color;
    font-family: sans-serif;
    padding: 1rem 0rem;
    font-size: 1.2rem;
    padding: 10px;
    width: 100%;
}


/* Start M icon */

.container__logo {
    height: 10px;
    position: relative;
    padding: .7em;
    text-align: center;
    z-index: 1;
    margin-top: -2rem;
    box-shadow: 0px 0px 15px 0 rgba(0, 0, 0, 0.1);
}

.container__logo::before,
.container__logo::after {
    content: '';
}

.container__logo::before,
.container__logo::after {
    top: 0%;
    left: 0%;
    width: 100%;
    height: 300%;
    display: block;
    position: absolute;
    -webkit-clip-path: polygon(50% 0%, 100% 25%, 100% 75%, 50% 100%, 0% 75%, 0% 25%);
    clip-path: polygon(50% 0%, 100% 25%, 100% 75%, 50% 100%, 0% 75%, 0% 25%);
    z-index: -1;
}

.container__logo::before {
    background: #fff;
    background: $pink;
    transform: scale(1.1);
}

.container__logo::after {
    background-color: $dark-blue;
    @debug $dark-blue; // Debug para ver lo que contiene la variable
    @debug type-of($value: $dark-blue); // Debug para ver que tipo de variable es
    transition: opacity 350ms;
    -webkit-transition: opacity 350ms;
}


/* End M icon */


/* Start - characteristics of the sections in general*/

section {
    display: flex;
    flex-wrap: wrap;
    padding: 3rem 2rem;
    width: 100vw;
    height: 100%;
    justify-content: center;
}

.presentation {
    padding: 2rem;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    .presentation__menu {
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;
        min-width: 5%;
        font-weight: bold;
        a {
            font-size: 1.7rem;
            cursor: pointer;
            transition: var(--transition);
            &:hover {
                -webkit-text-fill-color: $aqua;
                animation: glow-title 1.5s ease-in-out infinite alternate;
            }
        }
        .menu__branch-2 {
            margin-left: 10px;
            a {
                color: $pink;
                &:hover {
                    -webkit-text-fill-color: $pink;
                    animation: glow-title-pink 1.5s ease-in-out infinite alternate;
                }
            }
        }
        .menu__submenu {
            margin-top: 12px;
            margin-left: 10px;
            color: $yellow;
            font-family: 'Raleway', sans-serif;
            p {
                text-align: left;
                transition: var(--transition);
                &:hover {
                    -webkit-text-fill-color: $yellow;
                    animation: glow-title-yellow 1.5s ease-in-out infinite alternate;
                    cursor: pointer;
                    transform: translateX(5px);
                }
            }
        }
    }
    .presentation__main {
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        max-width: 700px;
    }
    .redes-container {
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        width: 10%;
    }
    footer {
        margin-top: 13rem;
    }
}

.menu__2:before {
    content: '';
    display: block;
    position: absolute;
    margin-top: -0.75rem;
    margin-left: 7px;
    width: 2px;
    height: 30px;
    background-color: $aqua;
}

@for $i from 3 through 5 {
    .menu__#{$i}:before {
        content: '';
        display: block;
        position: absolute;
        margin-top: -0.75rem;
        margin-left: 7px;
        width: 2px;
        height: 30px;
        background-color: $aqua;
    }
}

@for $i from 7 through 10 {
    .menu__#{$i}:before {
        content: '';
        display: block;
        position: absolute;
        margin-top: -0.75rem;
        margin-left: 7px;
        width: 2px;
        height: 30px;
        background-color: $pink;
    }
}

.paragraph br {
    display: none;
}


/* Start - characteristics of the sections in general*/


/* Start about me */

.about__first-section {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.about__description {
    border-radius: 5px;
}

.skills {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    width: 100%;
    border-radius: 5px;
    div {
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        width: 100%;
    }
}


/* Start [2021-03-10] - Grid galery */

.galery {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
    grid-auto-rows: 280px;
    /*grid-column-gap: 20px;
    grid-row-gap: 20px;*/
    grid-gap: 70px;
    padding: 3.5rem;
}

.galery__item {
    border-radius: 5px;
    background-color: $aqua;
    animation: anim-shadow-reg .3s forwards;
    -webkit-transition-property: box-shadow, transform;
    transition-property: box-shadow, transform;
}

.galery__item img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    opacity: 0.6;
    transition: all 0.2s ease;
    border-radius: 5px;
}


/* End   [2021-03-10] - Grid galery */


/* idea 1 de parrafo
.galery__item p {
    position: absolute;
    background-color: #000;
    width: 100px;
    height: 25px;
    border-top-right-radius: 5px;
    border-bottom-right-radius: 5px;
    margin-top: 250px;
    color: #fff;
    z-index: 10;
    padding: 3px;
}*/

.galery__item p {
    margin-top: 10px;
    animation: glow-title 2s ease-in-out infinite alternate;
    font-family: 'Raleway', sans-serif;
    color: #fff
}

.galery__item img:hover {
    opacity: 1;
    @include animation-call;
    transform: scale(1.02)
}


/* End about me */


/* Start list styles */

.list__item {
    color: #cdcdcd;
    list-style: none;
    border-radius: 5px;
    margin: 12px;
    text-align: left;
    i {
        color: $aqua;
    }
}

.skills__list-item {
    @extend .list__item;
}

.experience__list-item {
    @extend .list__item;
}

#aboutMeDescription div:nth-child(2) {
    width: 50%;
}

#aboutMeDescription div:last-child {
    width: 50%;
}

#aboutMeDescription div {
    padding: 10px;
}

#aboutMeDescription p {
    text-align: justify;
    text-justify: inter-word;
}


/* End list styles */


/*Start proyects img*/

.work__proyect-img {
    width: 100%
}


/*End proyects img*/


/*start Button*/

.button {
    @include button;
}

.btn-close {
    padding: 1rem;
    border: 1px solid #ccc;
}

.button--form {
    @extend .button;
    width: 169px;
    margin-top: 0rem;
    padding: 5px;
    font-size: 1.2rem;
}

.button--form:active {
    @include animation-call;
}

.button--form:focus {
    @include animation-call;
}


/*End Button*/


/* Start [2021-03-18] - Modal Get in touch index */

.modal-header {
    background-color: #64ffda;
    border: none
}

.button--mod {
    @extend .button;
    width: 48%;
    margin: 0px auto 10px auto;
    margin-top: 0rem;
    padding: 10px;
    font-size: 1.2rem;
}

.mod:active {
    @include animation-call;
}

.mod:focus {
    @include animation-call;
}

.modal-body,
.modal-footer,
.form-control {
    background-color: $dark-blue;
    background-color: transparent;
    border: none;
    color: #fff
}

.form-control {
    border: 1px solid #64ffda;
}

.form-control:focus {
    background-color: $dark-blue;
    background-color: transparent;
    @include animation-call;
    color: #fff
}

.form-control:active {
    background-color: $dark-blue;
    background-color: transparent;
    @include animation-call;
    color: #fff
}


/* [2021-03-19] - modal confirm */

.modal-confirm {
    color: #434e65;
    width: 525px;
}

.modal-confirm .modal-content {
    padding: 20px;
    font-size: 16px;
    border-radius: 5px;
    border: none;
}

.modal-confirm .modal-header {
    background: #47c9a2;
    border-bottom: none;
    position: relative;
    text-align: center;
    margin: -20px -20px 0;
    border-radius: 5px 5px 0 0;
    padding: 35px;
}

.modal-confirm h4 {
    text-align: center;
    font-size: 36px;
    margin: 10px 0;
}

.modal-confirm .form-control,
.modal-confirm .btn {
    min-height: 40px;
    border-radius: 3px;
}

.modal-confirm .close {
    position: absolute;
    top: 15px;
    right: 15px;
    color: #fff;
    text-shadow: none;
    opacity: 0.5;
}

.modal-confirm .close:hover {
    opacity: 0.8;
}

.modal-confirm .icon-box {
    color: #fff;
    width: 95px;
    height: 95px;
    display: inline-block;
    border-radius: 50%;
    z-index: 9;
    border: 5px solid #fff;
    padding: 15px;
    text-align: center;
}

.modal-confirm .icon-box i {
    font-size: 64px;
    margin: -4px 0 0 -4px;
}

.modal-confirm.modal-dialog {
    margin-top: 80px;
}

.modal-confirm .btn,
.modal-confirm .btn:active {
    color: #fff;
    border-radius: 4px;
    background: #eeb711 !important;
    text-decoration: none;
    transition: all 0.4s;
    line-height: normal;
    border-radius: 30px;
    margin-top: 10px;
    padding: 6px 20px;
    border: none;
}

.modal-confirm .btn:hover,
.modal-confirm .btn:focus {
    background: #eda645 !important;
    outline: none;
}

.modal-confirm .btn span {
    margin: 1px 3px 0;
    float: left;
}

.modal-confirm .btn i {
    margin-left: 1px;
    font-size: 20px;
    float: right;
}

.trigger-btn {
    display: inline-block;
    margin: 100px auto;
}


/* End   [2021-03-18] - Modal Get in touch index */


/* Start [2021-03-16] - form */

.formLabel {
    color: $sub-title-color;
}


/* End   [2021-03-16] - form */


/*Start Footer*/

footer {
    display: flex;
    justify-content: center;
    padding: 0rem;
    height: 50px;
    width: 100%;
    p {
        margin-top: 1rem;
        font-size: 30px;
        text-decoration: none;
        font-weight: normal;
        align-self: center;
        -webkit-text-stroke: 1px $yellow;
        -webkit-text-fill-color: transparent;
        animation: glow-title-yellow 2s ease-in-out infinite alternate;
        font-family: 'Raleway', sans-serif;
    }
}


/*End Footer*/


/* Start [2021-03-05] - Experience */

.experience {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    width: 100vw;
    height: 100vh;
    div {
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        align-items: center;
        width: 100%;
        p {
            margin-top: 3rem;
        }
        ul {
            margin-bottom: 10rem;
        }
    }
    h2 {
        text-align: center;
    }
    footer {
        margin-top: 15rem;
    }
}


/* End   [2021-03-05] - Experience */


/* Start [2021-03-05] - work */

.work {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    width: 100vw;
    height: 100%;
    div {
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        width: 100%;
        img {
            max-width: 700px;
            max-height: 500px;
        }
    }
    h2,
    h3 {
        text-align: center;
        width: 100%;
    }
    footer {
        margin-top: 3rem;
    }
}


/* End   [2021-03-05] - work */


/* Start [2021-03-05] - Contact */

.contact {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    width: 100vw;
    height: 100vh;
    h2,
    h3 {
        text-align: center;
    }
    footer {
        margin-top: 5rem;
    }
}


/* End   [2021-03-05] - Contact */


/* End   [2021-03-10] - Mobile version */

@media only screen and (max-width: 768px) {
    .mod {
        width: 45%;
        padding: 5px;
    }
}


/* Start [2021-03-10] - Responsive 768px - TABLET */

@media only screen and (min-width: 768px) {
    .paragraph br {
        display: block;
    }
}


/* End   [2021-03-10] - Responsive 768px */


/* Start [2021-03-10] - Responsive 1024px - DESKTOP */

@media only screen and (min-width: 1024px) {
    .header {
        padding: 1.5rem 6rem;
    }
    .navigation {
        width: 90%;
        margin-top: -1.6rem;
        text-align: right;
    }
    /*
    .header span i {
        display: none;
    }*/
    .navigation ul {
        display: block;
        margin: 0;
        list-style: none;
    }
    .navigation ul li {
        display: inline-block;
    }
    .navigation ul.show {
        display: none;
    }
    .navigation ul li a {
        padding: 0.5rem 1rem;
        transition: all 0.4s linear;
    }
    .button {
        padding: 20px;
    }
    .container__logo {
        margin-top: -1.8rem;
    }
    .presentation {
        padding: 1rem;
    }
    .paragraph {
        font-size: 1.4rem;
    }
    .big__heading {
        font-size: clamp(40px, 8vw, 70px);
    }
    footer {
        margin-top: 4rem;
    }
    .menu {
        .links {
            padding: 4rem 3rem;
        }
    }
    .redes-container {
        margin-right: 3rem;
    }
}


/* End   [2021-03-10] - Responsive 1024px - DESKTOP */

.loading-screen {
    position: absolute;
    width: 100%;
    height: 100vh;
    background: #0a0a0a;
    z-index: 2;
}


/* menu html*/

.menu {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    width: 100vw;
    height: 100%;
    padding: 4rem 0rem 0rem 0rem;
    h2 {
        font-size: 35px;
        text-decoration: none;
        font-weight: normal;
        -webkit-text-stroke: 1px $yellow;
        -webkit-text-fill-color: transparent;
        animation: glow-title-yellow 2s ease-in-out infinite alternate;
        font-family: 'Raleway', sans-serif;
        margin-bottom: 0rem;
        padding: 0;
    }
    .links {
        padding: 1rem 1rem 6rem 1rem;
    }
}

.links__li {
    display: flex;
    flex-wrap: wrap;
    margin: 1rem;
    font-size: 35px;
    text-decoration: none;
    font-weight: normal;
    -webkit-text-stroke: 1px $aqua;
    //animation: glow-title 2s ease-in-out infinite alternate;
    -webkit-text-fill-color: transparent;
    font-family: 'Raleway', sans-serif;
}

@for $i from 0 through 5 {
    .smenu__#{$i} {
        opacity: 0;
        transform: rotate(-90deg);
        -webkit-text-fill-color: $aqua;
        animation: glow-title 2s ease-in-out infinite alternate;
        transition: all 0.2s ease;
    }
}

@for $i from 0 through 5 {
    .smenu__#{$i}:hover {
        cursor: pointer;
    }
}

@for $i from 0 through 5 {
    .links__#{$i}:hover {
        cursor: pointer;
        animation: glow-title 2s ease-in-out infinite alternate;
        -webkit-text-fill-color: $aqua;
        transform: scale(1.1);
    }
}

.redes-container {
    padding: 2rem 1.5rem;
    ul {
        list-style: none;
        li {
            a {
                &:hover {
                    -webkit-text-fill-color: $aqua;
                    animation: glow-title 1.5s ease-in-out infinite alternate;
                }
                i {
                    transition: var(--transition);
                    &:hover {
                        transform: translateY(-5px);
                    }
                }
            }
        }
    }
}


/*Map*/

$icons:(github,
discord,
linkedin,
codepen);

/*Each*/

@each $social in $icons {
    .#{$social} {
        font-size: 55px;
        text-decoration: none;
        font-weight: normal;
        -webkit-text-stroke: 1px $aqua;
        -webkit-text-fill-color: transparent;
    }
}